<div class="hero"
     *ngIf="initiative.getHero()"
     [style.background-image]="okCss(getHeroPath())">

</div>

<div class="container pull-up" *ngIf="!initiative.published && !initiative.closed">
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-primary">
                <h1>Klasse, Deine {{initiative.is_event ? 'Aktion': 'Initiative'}} wurde angelegt!</h1>
                <p>
                    Du kannst deine Initiative nun jederzeit veröffentlichen, sodass andere
                    Nutzer sie finden und unterstützen können.
                    <br>
                    <button class="button button-w success" (click)="onPublishPressed()">Jetzt Veröffentlichen</button>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container pull-up alert alert-info" *ngIf="initiative.closed && initiative.successfull == false">
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-primary ">
                <h1>Diese {{initiative.is_event ? 'Aktion': 'Initiative'}} wurde beendet.</h1>
            </div>
        </div>
    </div>
</div>

<div class="container pull-up alert alert-success" *ngIf="initiative.closed && initiative.successfull">
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-primary ">
                <h1>Diese {{initiative.is_event ? 'Aktion': 'Initiative'}} wurde erfolgreich beendet!</h1>
            </div>
        </div>
    </div>
</div>

<div class="container pull-up">
    <div class="action"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-xs-12">
                    <div class="event-icon pull-right" [ngClass]="{'has-date': dateIsValid}" *ngIf="initiative.is_event">Aktion</div>
                    <div class="date-icon pull-right"
                         *ngIf="dateIsValid">
                        {{initiative.date | dfnsFormat : 'DD.MM.YYYY'}}
                        <span *ngIf="timeIsValid"> &thinsp;um&thinsp;{{initiative.date | dfnsFormat : 'H:mm'}} </span>
                    </div>
                    <h1>{{initiative.title}}</h1>
                    <initiative-tags></initiative-tags>

                    <div [innerHTML]="okHtml(initiative.description)"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <initiative-tags [tags]="initiative.getOrtsgemeinden()" [round]="true"></initiative-tags>
                    <initiative-tags [tags]="initiative.getHandlungsfelder()"></initiative-tags>
                </div>
                <div class="fb-share">
                    <em class="hidden-xs">Diese Initiative bei Facebook</em>
                    <fb-share href="https://www.marktplatz-sg.de/static/initiative.php?id={{initiative.id}}"
                              layout="button_count"></fb-share>
                </div>
            </div>
            <!--<pre>{{initiative|json}}</pre>-->
        </div>
        <div class="col-md-6 map-wrapper">
                    <!--*ngIf="initiative.latitude && initiative.longitude"-->
            <agm-map
                    class="map"
                    [latitude]="lat"
                    [longitude]="lon"
                    [zoom]="12">

                <agm-marker
                        *ngIf="initiative.latitude && initiative.longitude && !georeferenceIsManual"
                        [iconUrl]="'/assets/images/gm-marker.png'"
                        [latitude]="lat"
                        [longitude]="lon"></agm-marker>

                <!--COMMUNE OUTLINES-->
                <agm-polygon
                        *ngFor="let commune of outlines"
                        [fillColor]="'#bf1c2d'"
                        [strokeWeight]="0.2"
                        [geodesic]="true"
                        [paths]="commune.outline"
                ></agm-polygon>

            </agm-map>
        </div>
    </div>
</div>