.mapouter {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.gmap_canvas {
  background: none !important;
  height: 100%;
  width: 100%;
}

.container {
  //box-shadow: none;
  //max-width: 940px;
  //padding: 0 0 0 40px;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .3);
  &.alert-success{
    background-color: #dff0d8;
  }
  &.alert-info{
    background-color: #d9edf7;
  }
}

h1 {
  margin-top: 40px;
}

.row {
  margin-top: 0;
}

.pull-up {
  top: -90px;
}

.map {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.map-wrapper {
  //margin-right: -30px;
  //margin-left: -30px;
  //margin-bottom: -30px;
  position: absolute;
  top: 0;
  bottom: 0;
  //left: 0;
  right: 0;
}

@media screen and (max-width: 991px) {
  .map-wrapper {
    position: relative;
    margin-right: -30px;
    margin-left: -30px;
    margin-bottom: -10px;
  }

  .map {
    position: relative;
    height: 400px;
  }
}

@media screen and (max-width: 480px) {
  .map-wrapper {
    position: relative;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: -10px;
  }
}
.hero {
  display: block;
  height: 400px;
  width: 100%;
  margin-top: -30px;
  background-position: center center;
  background-size: cover;
}

.event-icon,
.date-icon{
  position: absolute;
  top: 0;
  right: 10px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 30px;

  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #3f84cd;
  border-radius: 15px;
  background-color: #fff;
  color: #3f84cd;
  cursor: pointer;

  &.has-date{
    top: 40px;
  }
}

.date-icon{
  left: auto;
  top: 0;
  right: 10px;
  color: #bf1c2d;
  border-color: #bf1c2d;
}

.fb-share {
  position: absolute;
  bottom: 10px;
  right: 10px;
}