ul.tags{
  padding-left:0;
  
  .tag{
    cursor: pointer;
  }
}

.handlungsfeld{
  background-color: #3f84cd;
  color: #FFF;
}

.tags-info-popup{
  position: fixed;
  z-index: 2;

  .backdrop{
    position: fixed;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    background-color: rgba(0,0,0,0.4);
  }

  .explanation{
    position: fixed;
    height: 50vh;
    width: 70vw;
    top: 25vh;
    left: 15vw;
    right: 15vw;
    background: #fff;
    padding: 20px;

    overflow: auto;
    
    .close{
      position: fixed;
      top: 26vh;
      font-size: 29pt;
      right: 15vw;
      cursor: pointer;
    }
  }
}