<div class="initiativen-tags">
    <div class="{{getClass()}}" *ngFor="let tag of tags" (click)="showPopup($event)">
        <div class="text-block-4">
            <!--<span tooltip="{{tag.name}}" placement="top" show-delay="500">-->
            {{tag.name}}
            <!--</span>-->
        </div>
    </div>
</div>

<div class="tags-info-popup" *ngIf="popup">
    <div class="backdrop" (click)="popup = false;"></div>
    <div class="explanation">
        <div class="close" (click)="popup = false;">
            <i class="btn-close icofont icofont-close-line-circled"></i>
        </div>
        <div class="content" [innerHTML]="popupContent">

        </div>
    </div>
</div>