<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1>Bevor es weiter geht,</h1>
            <p>zeig uns bitte wie Du aussiehst. Lade ein Profilbild hoch oder wähle einen Avatar.</p>
            <p>
                Entscheide zudem, ob Du unseren Newsletter empfangen möchtest. 
                Diese Einstellung kannst Du jederzeit in deinem Profil ändern.
                <label for="newsletter">
                    <input type="checkbox" id="newsletter" [(ngModel)]="profile.receives_newsletter">
                    Newsletter empfangen
                </label>
            </p>
        </div>
    </div>
    <div class="row" *ngIf="profile">
        <div class="col-md-4 col-md-offset-4">
            <image-upload
                    [successMessage]="'Dein Profilbild wurde geändert.'"
                    [imgUrl]="profileImageUrl"
                    [autoUpload]="true"
                    (uploadDone)="setImageInProfile($event)"
            ></image-upload>

            <div class="row">
                <div class="col-xs-12">
                    <h2>Avatare</h2>
                    <p>Wenn du kein Bild vor dir nutzen möchtest, kannst du auch einen Avatar verwenden.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <avatar *ngFor="let avatar of avatarService.avatars" [avatar]="avatar"
                            (click)="btnSelectAvatarPressed(avatar)"></avatar>
                </div>
            </div>
        </div>
    </div>
</div>