<div class="row">
    <div class="col-xs-12">

        <img class="profile-image" [src]="imgUrl" alt="" *ngIf="imgUrl">

        <base-sixty-four-input
                [desgination]="desgination"
                (imageConverted)="onImageConverted($event)"
                (fileInfoChanged)="onFileInfoChanged($event)"
        ></base-sixty-four-input>
    </div>
</div>
