<div class="backdrop" *ngIf="user && show">
  <div class="contact-wrapper">
    <div class="row">
      <div class="col-xs-12">
        <h1>{{user.username}} kontaktieren.</h1>
        <p>
          Der Benutzer wird per E-Mail benachrichtigt.
          Füge der Nachricht deine Kontaktdaten hinzu, sodass ihr anschließend kommunizieren könnt.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <!--<textarea name="message" id="message" cols="30" [(ngModel)]="message" rows="10"></textarea>-->
        <app-tinymce [(ngModel)]="message"
                     [ngModelOptions]="{standalone: true}"></app-tinymce>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button class="button button-w success" (click)="send()">Absenden</button>
        <button class="button button-w warning" (click)="hide()">Abbrechen</button>
      </div>
    </div>
  </div>
</div>