.backdrop{
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.4);

  .contact-wrapper{
    position: fixed;
    padding: 15px;
    z-index: 11;
    top: 5vh;
    max-height: 90vh;
    overflow: auto;
    left: 15vw;
    right: 15vw;
    background-color: #fff;
    box-shadow: 0 0 10px -5px #000;
  }
}