<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Marktplatz der Ideen, das Handbuch</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ol>
                <li (click)="scroll('allgemeines')">Allgemeines</li>
                <ol>
                    <li (click)="scroll('registrieren')">Registrieren</li>
                    <li (click)="scroll('anmelden')">Anmelden</li>
                    <li (click)="scroll('profil')">Profil</li>
                </ol>
                <li>
                    <span (click)="scroll('entdecken')">Initiativen</span>
                    <ol>
                        <li (click)="scroll('filter-und-suche')">Filter und Suche</li>
                        <li (click)="scroll('unterstuetzen')">Eine Initiative unterstützen</li>
                        <li (click)="scroll('benachrichtigungen')">Benachrichtigungen</li>
                        <li (click)="scroll('kommentieren')">Kommentieren und Kommentare melden</li>
                    </ol>
                </li>
                <li (click)="scroll('meine-initiativen')">Meine Initiativen</li>
                <li (click)="scroll('anlegen')">Neue Initiative anlegen</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h2 id="#allgemeines">1. Allgemeines</h2>
            <p>
                Der Marktplatz der Ideen bietet Bürgern der VG Sprendlingen-Gensingen die Möglichkeit sich zu vernetzen
                und gemeinsam Initiativen und Aktionen umzusetzen.
                Bevor ein Benutzer sich registriert kann er auf der Startseite und auf weiterführenden Seiten wie zum
                Beispiel Hintergrund oder Spielregeln viele Informationen rund um die Plattform einsehen.
                Benutzer die mitmachen möchten klicken einfach auf Loslegen und können sich hier entweder Registrieren
                oder Anmelden.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3 id="registrieren">1.1. Wie registriere ich mich?</h3>
            <p>
                Zur Registrierung müssen Benutzer eine E-Mail Adresse, einen Benutzernamen, sowie Vor- und Nachnamen
                angeben.
                Darüber hinaus muss den Spielregeln und der Datenschutzerklärung zustimmen. Nachdem ein Benutzer sich
                erfolgreich registriert hat, erhält er eine Bestätigungsemail zur Verifikation des Benutzerkontos. <br>
                Folgt man dem Link in der E-Mail, bestätigt man sein Konto und kann anschließend sein Passwort wählen.
                <br>
                Abschließend kann jeder Benutzer ein Profilbild aus einer Vorauswahl wählen oder selbst ein Profilbild
                hochladen.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3 id="anmelden">1.2. Wie melde ich mich an?</h3>
            <p>
                Benutzer können sich mit ihrer E-Mail Adresse und ihrem Passwort anmelden. Falls ein Benutzer sein
                Passwort vergessen hat kann er hier direkt zu „Passwort vergessen“ springen und mittels einer erneuten
                Bestätigungsemail das Passwort neu setzen.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h2 id="profil">1.3. Dein Profil</h2>
            <p>
                Benutzer können hier die Stammdaten bearbeiten, das Profilbild ändern, den Account deaktivieren, das
                Passwort ändern und Einladungen zu Initiativen einsehen.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h2 id="entdecken">3. Initiativen entdecken</h2>
            <p>
                Neue Benutzer können sich im ersten Schritt über bereits vorhandene Initiativen informieren. Es wird
                zwischen „Endecken“ und „Erfolgreichen Initiativen“ unterschieden. Der Unterschied besteht darin, dass
                „Erfolgreiche Initiativen“ bereits erfolgreich abgeschlossen sind und alle Initiativen im Reiter
                „Entdecken“ noch im
                Gange sind.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3 id="filter-und-suche">3.1. Filter und Suche</h3>
            <p>
                Benutzer können nach Ortsgemeinden und nach Handlungsfeldern filtern und somit gezielt die Ergebnisse
                beeinflussen. Darüber hinaus können die Initiativen nach Text durchsucht werden.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3 id="unterstuetzen">3.2. Eine Initiative unterstützen</h3>
            <p>
                Eine Initiative kann auf zwei Wegen unterstützt werden.
            </p>
            <p>
            <h4>1. Über die Initiative selbst.</h4>
            <p>
                Besucht man die Seite einer Initiative und man ist noch kein Unterstützer, so findet sich rechts ein
                grüner Button.
                Klickt man auf diesen wird man zur Liste der Unterstützer hinzugefügt und erhält ab diesem Moment
                Benachrichtigungen
                zur Initiative.
            </p>
            <h4>2. Per Einladung. </h4>
            <p>
                Benutzer können andere Benutzer einladen, indem Sie auf den "Freunde einladen" Button klicken und das
                Formular
                ausfüllen. <br>
                Wenn einer der Empfänger bereits mit der gleichen E-Mail Adresse registriert ist, so wird nicht nur eine
                E-Mail mit der Einladung versandt.
                Die Einladung taucht zusätzlich im Profil des Empfängers auf, gleichsam mit einem Button zur
                Unterstützung.
            </p>
        </div>
    </div>

    <div class="div">
        <div class="col-xs-12">
            <h3 id="benachrichtigungen">3.3. Benachrichtigungen</h3>
            <p>
                Wenn es neuigkeiten in einer Initiative gibt, so werden alle Benutzer, welche die Initiative
                unterstützen, dafüber per E-Mail informiert.
                Grundsätzlich sind alle Benachrichtigungsarten aktiv, sobald man die Initiative unterstüttzt.
            </p>
            <p>
                Jeder Nutzer kann pro Initiative einstellen, welche Benachrichtigungen er erhalten möchte und welche
                nicht.
                <br>
                Hierzu gibt es ein Menü, welches im "Einstellungen" Tag (Rechts neben den Kommentaren) zu finden ist.
            </p>
        </div>
    </div>

    <div class="div">
        <div class="col-xs-12">
            <h3 id="kommentieren">3.4. Kommentieren und Kommentare melden</h3>
            <p>
                Jedem Benutzer steht es frei Kommentare und Antworten zu hinterlassen. <br>
                Jedem anderen Nutzer steht es frei, diese Kommentare unter Angabe eines Grundes zu melden. <br>
                Hierbei wird erfasst <i>Wer wen warum</i> und <i>wegen welchem Kommentar</i> meldet.
            </p>
            <p>
                Um einen Kommentar zu melden, reicht es aus auf den "Melden" Link, rechts unten in der Kommentar Box, zu
                klicken und den Grund für die Meldung anzugeben.
            </p>
            <p>
                Keiner der betroffenen sieht hierzu unmittelbare Auswirkungen. Die Administratoren werden den Fall
                bewerten und ggf. Maßnahmen ergreifen.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h2 id="meine-initiativen">4. Meine Initiativen</h2>
            <p>
                Hier können Benutzer zwischen „Eigenen Initiativen“ (der Benutzer ist der Initiator) und zwischen
                Initiativen, die vom Benutzer unterstützt werden unterscheiden. Auch hier stehen die Filter und die
                Suche zur Verfügung, um als Benutzer die Ergebnisse gezielt steuern zu können.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h2 id="anlegen">5. Initiativen oder Aktionen anlegen</h2>
            <p>
                Der Ablauf beim Anlegen einer Initiative ist geführt und mit den jeweils notwendigen Informationen
                versehen.
                Es reicht aus, den Anweisungen auf dem Bildschirm zu folgen.
                <br>
                Während dem anlegen kann stets zwischen den einzelnen Schritten gewechselt werden. Vor dem Speichern
                wird noch einmal alles überprüft
                und die Anwendung teilt den Nutzer mit, was noch fehlt.
                <br>
                Beim hochladen von Bildern ist darauf zu achten, dass diese nicht größer als 2 Megabyte sind.
                <br>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h2 id="bearbeiten">6. Initiativen bearbeiten</h2>
            <p>
                Um eine Initiative berabeiten zu können, muss man entweder der Initiator oder von diesem zum Vertreter
                ernannt worden sein
                <br>
                Wird die Anwendung von eine Desktop Browser bedient, so findet sich der Button zum bearbeiten rechts
                neben den Kommentaren im
                "Einstellungen" Tag.
            </p>
            <p>
                Klickt man darauf, so öffnet sich das Formular zum bearbeiten der Initiative. <br>
                Hier sind alle Eigenschaften zu sehen und nach belieben änderbar.
            </p>
            <p>
                <strong>Achtug!</strong> <br>
                Ändert man die Bilder, so werden diese sofort gespeichert. Das gleiche gilt für die eingestellten
                Verteter.
                <br>
                Ein Klick auf den Speichern Button speichert alle geänderten Texte, sowie die Georeferenzierung und
                Auswahl von Ortsgemeinden und Handlungsfeldern.
            </p>
        </div>
    </div>
</div>