.received{
  width: 90%;
  margin-left: 5%;
  margin-top: 60px;
  margin-bottom: -60px;
  padding: 30px;
  background-color: #6cc748;
  color: #fff;
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.3);
  transition: .4s;
  cursor: pointer;
}
.hidden{
  height: 0;
  opacity: 0;
  transition: .4s;
}