<section>

    <a class="mdz-home-icon w-inline-block" uiSref="landing-page"></a>

    <div class="received"
         [ngClass]="{'hidden': !received}"
         (click)="onReceivedBannerClicked()">
        <h2>Vielen Dank!</h2>
        <p>
            Deine Anfrage zum zurücksetzen des Passwortes ist bei uns eingegangen. Du wirst in Kürze eine E-Mail mit
            weiteren Informationen erhalten.
        </p>
    </div>
    <div class="auth">
        <div class="register">
            <img class="password_icon" src="assets/images/locked.svg">
        </div>
        <div class="login">
            <h2>Passwort zurücksetzen</h2>
            <form action="">

                <input class="text-field-2 w-input"
                       id="E-Mail"
                       name="E-Mail"
                       placeholder="Deine E-Mail Adresse"
                       required="required"
                       [(ngModel)]="email"
                       type="email">

                <input class="button primary w-button col-xs-12 text-center"
                       data-wait="Bitte warten"
                       type="submit"
                       value="Zurücksetzen"
                       (click)="request()">
            </form>
        </div>
    </div>
</section>
