<div class="container">
    <div class="row">

        <div class="col-md-6 col-md-offset-1">
            <h1>Willkommen!</h1>
            <p>
                Du hast dich mit der E-Mail Adresse {{userEmail}} beim Marktplatz der Ideen registriert. <br>
                Um die Registrierung abzuschließen, wähle bitte ein Passwort, um Zugang zu deinem Konto zu erhalten.
            </p>
        </div>

        <div class="col-md-3 col-xs-12">
            <div class="row force-margin">

                <label for="password" class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 padding-off">
                            <span>Bitte wähle dein Passwort</span>
                        </div>
                    </div>
                    <div class="row">
                        <input class="col-md-12" id="password" type="password" [(ngModel)]="newPassword">
                    </div>
                </label>

                <label for="password2" class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 padding-off">
                            <span>Bitte gib dein Passwort erneut ein</span>
                        </div>
                    </div>
                    <div class="row">
                        <input class="col-md-12" id="password2" type="password" [(ngModel)]="newPasswordCopy">
                    </div>
                </label>

                <button (click)="activate()" class="button button-w success col-md-12">Registrierung abschließen</button>
            </div>
        </div>
    </div>
</div>