.mdz-home-icon {
  display: block;
  height: 60px;
  width: 60px;
  background: url(/assets/images/mdz__app-icon.png) center;
  background-size: 74%;
  background-color: #FFF;
  background-repeat: no-repeat;
}

a {
  text-decoration: underline;
}

a.button{
  text-decoration: none;
}

label {
  font-weight: lighter;
}

section {
  height: 100vh;
  width: 100%;
  background-image: radial-gradient(circle farthest-corner at 50% 50%, #3f84cd 26%, #0058b6);

  position: absolute;
  z-index: 1001;

  top: 0;

  .auth {
    width: 90%;
    height: 400px;
    background-color: #295481;
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, .3);
    margin: 15% auto 0 auto;
    vertical-align: middle;
    position: relative;
    transition: .4s;

    .register {
      width: 50%;
      float: left;
      transition: .4s;
      color: #fff;
      padding: 20px 50px 50px;
    }

    .login {
      width: 50%;
      background-color: #fff;
      box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, .3);
      position: absolute;
      padding: 50px;
      right: 30px;
      top: -10%;
      //height: 150%;
      transition: .4s;

      .bg-swap.when-small {
        display: none;
      }
    }
  }
}

@media (max-width: 950px) {
  section {
    .auth {
      .register {

      }
      .login {
        .button {
          width: 100%;
          text-align: center;
        }

      }
    }
  }
}

@media (max-width: 850px) {
  section {
    .auth {
      width: 100%;
      background-color: transparent;
      box-shadow: none;
      .register {
        display: none;
      }
      .login {
        width: 90%;
        right: 5%;
        left: 5%;
        .bg-swap.when-small {
          display: block;
        }
        .heading-18 {
          margin-bottom: 20px;
          transition: .4s;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  section {
    .auth {
      .register {

      }
      .login {
        .button {
          width: 100%;
        }
      }
    }
  }
}

//##########
//
.auth-container {
  top: 100vh;
  position: absolute;
}