<section>

    <a class="mdz-home-icon w-inline-block" uiSref="landing-page"></a>

    <div class="auth">
        <div class="register">
            <h2>Du hast bereits ein Konto?</h2>
            <p>
                Gehe zur Anmeldung um deine Initiativen unterstützen zu können.
            </p>
            <a class="bg-swap button w-button"
               data-ix="swap-to-registration"
               uiSref="login">Zur Anmeldung</a>
        </div>
        <div class="login">
            <h5 class="heading-18">Registrieren</h5>
            <form action="" disabled>

                <input
                        class="text-field-2 w-input" data-name="E Mail" id="E-Mail-3" maxlength="256"
                        [disabled]="disable"
                        name="E-Mail" placeholder="E-Mail Adresse" required="required" type="email"
                        [(ngModel)]="user.email">
                <input
                        class="text-field-2 w-input" data-name="Benutzername" id="Benutzername"
                        maxlength="256"
                        [disabled]="disable"
                        name="Benutzername" placeholder="Benutzername" required="required" type="text"
                        [(ngModel)]="user.username">

                <input
                        class="text-field-2 w-input" data-name="Vorname" id="Vorname"
                        maxlength="256"
                        [disabled]="disable"
                        name="Vorname" placeholder="Vorname" type="text"
                        [(ngModel)]="user.first_name">

                <input
                        class="text-field-2 w-input" data-name="Nachname" id="Nachname"
                        maxlength="256"
                        [disabled]="disable"
                        name="Nachname" placeholder="Nachname" type="text"
                        [(ngModel)]="user.last_name">

                <privacy-info></privacy-info>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="agb" value=""
                               [disabled]="disable"
                               [(ngModel)]="user.accepts_rules">
                        Ich halte mich an die <a uiSref="page" target="_blank" [uiParams]="{url:'spielregeln'}">Spielregeln</a>.
                    </label>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="datenschutz" value=""
                               [disabled]="disable"
                               [(ngModel)]="user.accepts_datenschutz">
                        Ich habe die <a uiSref="page" target="_blank" [uiParams]="{url:'datenschutz'}">Datenschutzerklärung</a> gelesen
                    </label>
                </div>

                <!--<div class="checkbox">-->
                    <!--<label>-->
                        <!--<input type="checkbox" name="agb" value=""-->
                               <!--[disabled]="disable"-->
                               <!--[(ngModel)]="user.accepts_agb">-->
                        <!--und bin mit den AGB einverstanden.-->
                    <!--</label>-->
                <!--</div>-->

                <input
                        class="button primary w-button" data-wait="Bitte warten" type="submit"
                        value="Registrieren"
                        [disabled]="disable"
                        (click)="register()">


            </form>
            <a class="button forgot-pw w-button when-small"
               uiSref="login">Ich habe bereits ein Konto</a>
        </div>
    </div>
</section>