<div class="row" *ngIf="user">
    <div class="col-xs-8 well">
        <h3>{{user.first_name}} {{user.last_name}} ({{user.id}})</h3>
        <p>Username: {{user.username}}</p>
        <p>Zuletzt angemeldet: {{user.last_login_date}}</p>
        <p>E-Mail: {{user.email}}</p>
        <p>Registriert: {{user.created_date}}</p>
    </div>
    <div class="col-xs-4">
        <div class="row">
            <div class="col-xs-12">
                <button class="button button-w warning" (click)="blockUser(user.id)" *ngIf="user.is_active">Sperren
                </button>
                <button class="button button-w success" (click)="unblockUser(user.id)" *ngIf="!user.is_active">
                    Freigeben
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <a class="button button-w primary" uiSref="user" [uiParams]="{username: user.username}">Profil
                    anzeigen</a>
            </div>
        </div>
    </div>
</div>