<div class="comment-container">
    <!--<pre>{{comment|json}}</pre>-->
    <div class="comment-header">
        <div class="profile-image"
             *ngIf="profileImage"
             [style.background-image]="path(profileImage)">
        </div>
        <div class="comment-profile-infos">
            <h5 class="heading-24" [ngClass]="{'deleted': userIsDeleted}">{{comment.username}}</h5>
            <h6 class="heading-25">{{comment.created | date: 'dd.MM.yyyy hh:mm'}}</h6>
        </div>
    </div>
    <div class="comment-body">
        <div class="row">
            <div class="col-xs-12">
                <span *ngIf="comment.moderated" class="text-danger">Moderiert</span>
                <p>{{comment.text}}</p>
                <a *ngIf="!comment.moderated"
                   type="button"
                   class="pull-right melden"
                   (click)="report()">Melden <i class="icofont icofont-flag-alt-1"></i>
                </a>
            </div>
        </div>

        <form (submit)="postAnswer()" *ngIf="!comment.is_answer && answerable">
            <div class="row" *ngIf="!comment.moderated">
                <div class="col-xs-12">
                    <input type="text" class="col-xs-12" name="answer" [(ngModel)]="answer"
                           placeholder="Verfasse eine Antwort ..."
                           (keyup)="keyUp($event)"/>
                </div>
            </div>
        </form>

        <initiative-comment
                *ngFor="let answer of comment.answers"
                [comment]="answer"
                [initiative_id]="initiative_id"
        ></initiative-comment>


    </div>
</div>