.comment-container{
  background-color: #FFF;
}
.comment-body {
  padding: 20px;
  border-left: 5px solid rgba(63, 132, 205, 0.19);;
}

.comment {
  background-color: #bfa78b;
  margin: 10px 0;
}

input {
  font-weight: lighter;
  padding-left: 5px;
}

a.melden{
  font-size: 10px;
  cursor: pointer;
  margin-left: 3px;
}

.profile-image {
  max-width: 50px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-position: center;
  background-size: cover;
}

.deleted{
  color: #777;
  font-size: 17px;
  font-style: italic;
}

.comment-profile-infos {
  height: 50px;
  margin-left: 10px;
}