.invitation {
  position: relative;
  background-color: #fff;
  padding: 15px;
  padding-right: 170px;
  margin-bottom: 3px;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
  &:hover {
    background-color: rgba(128, 128, 128, 0.05);
  }

  .button {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}