<div class="invitation"
     *ngIf="invitation && invitation.open">

    <div class="left" (click)="goto()">
        <h5>{{invitation.initiative_name}}</h5>
        <p>{{invitation.message}}</p>
    </div>

    <button class="button button-w success pull-right"
            (click)="btnSupportPressed()">
        Unterstützen
    </button>
</div>