<a class="w-hidden-medium w-hidden-small w-hidden-tiny w-nav-link" uiSrefActive="w--current" uiSref="cms" uiSrefActive="active" (click)="navigated()">CMS</a>
<a class="w-hidden-medium w-hidden-small w-hidden-tiny w-nav-link" uiSrefActive="w--current" uiSref="admin-landingpage" uiSrefActive="active" (click)="navigated()">Landing page</a>
<a class="w-hidden-medium w-hidden-small w-hidden-tiny w-nav-link" uiSrefActive="w--current" uiSref="manage-newsletter" uiSrefActive="active" (click)="navigated()">Newsletter</a>
<a class="w-hidden-medium w-hidden-small w-hidden-tiny w-nav-link" uiSrefActive="w--current" uiSref="admin-user" uiSrefActive="active" (click)="navigated()">Benutzer</a>
<a class="w-hidden-medium w-hidden-small w-hidden-tiny w-nav-link" uiSrefActive="w--current" uiSref="admin-initiatives" uiSrefActive="active" (click)="navigated()">Initiativen</a>
<app-logout (click)="navigated()"></app-logout>
<a class="profile w-hidden-medium w-hidden-small w-hidden-tiny w-nav-link" uiSrefActive="w--current" uiSref="profile" (click)="navigated()"></a>