<section class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6" *ngIf="landingPage">
            <h2>{{landingPage.descriptionTitle}}</h2>
            <p>{{landingPage.descriptionText}}</p>
        </div>
        <div class="col-xs-12 col-md-6 right">
            <iframe class="video"
                    src="https://www.youtube.com/embed/5ZqW18m07v8"
                    frameborder="0"
                    allowfullscreen>
            </iframe>
        </div>
    </div>
</section>