<loader [loading]="creating" [message]="'Deine '+getWhatItIs()+' wird angelegt'"></loader>
<div class="numbercontainer" [ngClass]="{ 'step' : currentStep == 0}">
    <div class="numberwrap">
        <span class="stepnumber" [ngClass]="{ 'current' : currentStep == 1}">1</span>
    </div>
    <div class="numberwrap">
        <span class="stepnumber" [ngClass]="{ 'current' : currentStep == 2}">2</span>
    </div>
    <div class="numberwrap">
        <span class="stepnumber" [ngClass]="{ 'current' : currentStep == 3}">3</span>
    </div>
    <div class="numberwrap">
        <span class="stepnumber" [ngClass]="{ 'current' : currentStep == 4}">4</span>
    </div>
    <div class="numberwrap">
        <span class="stepnumber" [ngClass]="{ 'current' : currentStep == 5}">5</span>
    </div>
    <div class="numberwrap">
        <span class="stepnumber" [ngClass]="{ 'current' : currentStep == 6}">6</span>
    </div>
    <div class="numberwrap">
        <span class="stepnumber" [ngClass]="{ 'current' : currentStep == 7}">7</span>
    </div>
    <div class="numberwrap">
        <span class="stepnumber" [ngClass]="{ 'current' : currentStep == 8}">8</span>
    </div>
</div>
<div class="container">

    <!--CONTROLS-->
    <div class="row" [ngClass]="{ 'step' : currentStep == 0}">
        <div class="col-xs-12">
            <button class="button success w-button" (click)="previousStep()">Zurück</button>
            <button class="button success w-button pull-right" (click)="nextStep()"
                    [ngClass]="{ 'hidden' : currentStep == 9}">Weiter
            </button>
            <button class="button primary w-button pull-right"
                    [ngClass]="{ 'hidden' : currentStep < 9}"
                    (click)="btnCreateInitiativePressed()">
                Speichern
            </button>
        </div>
    </div>

    <!--WIZARD STEP 0-->
    <div class="row step" [ngClass]="{ 'show' : currentStep == 0}">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Möchtest du eine Initiative oder eine Aktion starten?</h3>
                    <p>
                        Du planst ein längerfristiges Projekt? Dann lege eine „Initiative“ an. <br>
                        Du planst eine Veranstaltung, die an einem bestimmten Tag stattfinden wird? Dann lege eine
                        „Aktion“ an.
                    </p>
                    <p>
                        Schau Dir dazu auch gerne die Beispielinitiativen und –Aktionen auf der Startseite an.
                        (Erkennbar an: Initiator: Marktplatz)
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button class="button success w-button col-xs-12" (click)="btnSelectTypePressed(false)">
                        Initiative
                    </button>
                </div>
                <div class="col-md-6">
                    <button class="button success w-button col-xs-12" (click)="btnSelectTypePressed(true)">Aktion
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--WIZARD STEP 1 - naming -->
    <div class="row step" [ngClass]="{ 'show' : currentStep == 1}">
        <div class="col-xs-12">
            <label for="title"><h3>{{currentStep}}. Gib deiner {{getWhatItIs()}} einen Namen.</h3></label>
            <p>
                Dies ist der Titel deiner {{getWhatItIs()}}. Halte dich kurz und wähle einen möglichst
                beschreibenden Titel.
            </p>
            <input [(ngModel)]="title"
                   hidefocus="1"
                   name="title" id="title" type="text" class="col-xs-12" (keyup)="maybeNext($event)">
        </div>
    </div>

    <!--WIZARD STEP 2 - description -->
    <div class="row step" [ngClass]="{ 'show' : currentStep == 2}">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-md-6">
                    <h3>{{currentStep}}. Beschreibe dein Vorhaben.</h3>
                    <p>
                        Erkläre möglichst präzise, worin deine Idee oder dein Vorhaben besteht und worin
                        der Nutzen für dich und andere liegt. <br>
                        Beschreibe zudem, was du bereits dazu getan hast. <br>
                        Du kannst den Vor ausgefüllten Text beliebig ändern.
                    </p>
                </div>
                <div class="col-xs-6">
                    <h3 *ngIf="!isEvent">Bis wann soll Deine Initiative laufen?</h3>
                    <h3 *ngIf="isEvent">Wann findet die Aktion statt?</h3>
                    <owl-date-time
                            [(ngModel)]="date"
                            [locale]="de"
                            [autoClose]="false"
                            [inline]="false"
                            [placeHolder]="'Bitte wähle ein Datum.'"
                            [dateFormat]="'DD.MM.YYYY - H:mm'">
                    </owl-date-time>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <app-tinymce [(ngModel)]="description"
                                 [ngModelOptions]="{standalone: true}"></app-tinymce>
                </div>
            </div>
        </div>
    </div>
    <!--WIZARD STEP 3 - communities and topics -->
    <div class="row step" [ngClass]="{ 'show' : currentStep == 3}">
        <div class="col-xs-12">
            <h3>{{currentStep}}. Wähle Ortsgemeinde/n und Handlungsfeld/er. </h3>
            <p>
                Wähle hier alle Ortsgemeinden und Handlungsfelder, welche von der {{getWhatItIs()}} betroffen
                sein sollen. Wenn du der Meinung bist, dass ein Handlungsfeld fehlt, so kannst du dich jederzeit
                <a href="mailto:support@marktplatz-sg.de" class="support">an unseren Support wenden</a>.
            </p>
            <initiative-filters (filterChanged)="onFilterChanged($event)"></initiative-filters>
        </div>
    </div>

    <!--WIZARD STEP 4 - georeference -->
    <div class="row step" [ngClass]="{ 'show' : currentStep == 4}">
        <div class="col-xs-12">
            <h3>(Optional) {{currentStep}}. Markiere den Ort.</h3>
            <p>
                Klicke auf den Ort in der Karte, den deine {{getWhatItIs()}} betrifft oder an dem sie stattfinden soll.
                Denke daran, dass du die Karte, für eine präzisere Auswahl, vergrößern kannst. <br>
                Wenn du keine exakte Position setzen möchtest, dann überspringe diesen Schritt. In diesem Fall werden die
                zuvor ausgewählten Ortsgemeinden auf der Karte angezeigt.
            </p>
            <agm-map
                    class="map"
                    [latitude]="latitude"
                    [longitude]="longitude"
                    [zoom]="zoom"
                    (mapClick)="mapClicked($event)">
                <agm-marker
                        *ngIf="markerLatitude"
                        [iconUrl]="'/assets/images/gm-marker.png'"
                        [latitude]="markerLatitude"
                        [longitude]="markerLongitude"></agm-marker>
            </agm-map>
            <button class="button button-w info"
                    *ngIf="markerLatitude"
                    (click)="clearGeoreference()"
            >Markierung entfernen
            </button>
        </div>
    </div>

    <!--WIZARD STEP 5 - hero image -->
    <div class="row step" [ngClass]="{ 'show' : currentStep == 5}">
        <div class="col-xs-12">
            <h3>{{currentStep}}. Wähle ein Titelbild.</h3>
            <p>
                Dieses Bild wird oben auf deiner {{getWhatItIs()}}seite angezeigt. Es sollte den Kern der
                {{getWhatItIs()}}
                repräsentieren.
            </p>
            <image-upload
                    #uploadHero
                    [successMessage]="'Das Titelbild wurde hinzugefügt.'"
                    [uploadTarget]="'/files/initiatives/'"
                    [imgUrl]="heroDummy"
                    [fileName]="createFileName('hero')"
                    [desgination]="0"
                    (fileInfoChanged)="heroFileInfoChanged()"
                    (uploadDone)="attachHero($event)"
            ></image-upload>

            <h3>Alternativ kannst Du zunächst ein Titelbild wählen und später ein eigenes hinzufügen.</h3>
            <div class="dummys">
                <div class="row">
                    <div class="col-md-4">
                        <img src="/assets/images/dummy-1.jpg" id="dummy-1" alt="" (click)="heroDummyKlicked($event)">
                    </div>
                    <div class="col-md-4">
                        <img src="/assets/images/dummy-2.jpg" id="dummy-2" alt="" (click)="heroDummyKlicked($event)">
                    </div>
                    <div class="col-md-4">
                        <img src="/assets/images/dummy-3.jpg" id="dummy-3" alt="" (click)="heroDummyKlicked($event)">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--WIZARD STEP 6 - Gallery -->
    <div class="row step" [ngClass]="{ 'show' : currentStep == 6}">
        <div class="col-xs-12">
            <h3>(Optional) {{currentStep}}. Füge bis zu drei Bilder zu deiner {{getWhatItIs()}} hinzu.</h3>
            <p>
                Hier kannst du Bilder zur Galerie deiner {{getWhatItIs()}} hinzufügen. Wenn du noch keine passenden Bilder hast,
                dann ist das auch okay. Überspringe diesen Schritt einfach und füge später Bilder hinzu. <br>
                Achte darauf, dass deine Bilder aussagekräftig sind und den Inhalt oder das Ziel der {{getWhatItIs()}} vermitteln.
            </p>
        </div>
    </div>
    <div class="row step" [ngClass]="{ 'show' : currentStep == 6}">
        <div class="col-xs-4">
            <image-upload
                    #upload1
                    [successMessage]="'Das Bild wurde hinzugefügt.'"
                    [uploadTarget]="'/files/initiatives/'"
                    [fileName]="createFileName(1)"
                    [desgination]="1"
                    (fileInfoChanged)="increaseUploadCounter()"
                    (uploadDone)="attachImage($event)"
            ></image-upload>
        </div>
        <div class="col-xs-4">
            <image-upload
                    #upload2
                    [successMessage]="'Das Bild wurde hinzugefügt.'"
                    [uploadTarget]="'/files/initiatives/'"
                    [fileName]="createFileName(2)"
                    [desgination]="2"
                    (fileInfoChanged)="increaseUploadCounter()"
                    (uploadDone)="attachImage($event)"
            ></image-upload>
        </div>
        <div class="col-xs-4">
            <image-upload
                    #upload3
                    [successMessage]="'Das Bild wurde hinzugefügt.'"
                    [uploadTarget]="'/files/initiatives/'"
                    [fileName]="createFileName(3)"
                    [desgination]="3"
                    (fileInfoChanged)="increaseUploadCounter()"
                    (uploadDone)="attachImage($event)"
            ></image-upload>
        </div>
    </div>

    <!--WIZARD STEP 7 - Invitations -->
    <div class="row step" [ngClass]="{ 'show' : currentStep == 7}">
        <div class="col-xs-12">
            <h3>{{currentStep}}. Lade deine Freunde dazu ein, deine {{getWhatItIs()}} zu unterstützen.</h3>
            <p>
                Wer kann dich bei deiner {{getWhatItIs()}} unterstützen?<br>
                Lade Freunde, Bekannte oder Nachbarn dazu ein, deine {{getWhatItIs()}} zu unterstützen.<br>
                Trage hier die E-Mail Adressen dieser Personen ein. Trenne sie mit einem Komma ab.
            </p>

            <textarea class="friends col-xs-12"
                      placeholder="erster.freund@email.de, zweiter.freund@email.de"
                      name="friend"
                      [(ngModel)]="friends"
                      rows="10">
                </textarea>

            <h4>Personalisiere die Einladungen mit einer Nachricht:</h4>
            <textarea class="friends col-xs-12"
                      placeholder="Hallo liebe/r..."
                      name="message"
                      [(ngModel)]="message"
                      rows="10">
                </textarea>
        </div>
    </div>

    <!--WIZARD STEP 8 - Co. Admins -->
    <div class="row step" [ngClass]="{ 'show' : currentStep == 8}">
        <div class="col-xs-12">
            <h3>{{currentStep}}. Füge Vertreter zu deiner {{getWhatItIs()}} hinzu.</h3>
            <p>
                Ein Vertreter hat Administrationsrechte und kann in dieser {{getWhatItIs()}} alles tun, was du auch tun
                kannst. Dies beinhaltet auch das Bearbeiten und Beenden der Initiative. Wähle daher mit Bedacht.
            </p>
            <form>
                <div class="row add-new">
                    <div class="col-xs-10 col-sm-8">
                        <label for="new_admin" class="col-xs-12">
                            <input
                                    type="text"
                                    class="col-xs-12"
                                    id="new_admin"
                                    name="new_admin"
                                    placeholder="E-Mail des Benutzers"
                                    [(ngModel)]="newAdmin"
                            >
                        </label>
                    </div>
                    <div class="col-xs-2 col-sm-4">
                        <button class="button primary w-button col-xs-12 btn-add-new" [disabled]="!newAdmin"
                                (click)="btnAddAdminPressed()">
                            <span class="hidden-xs">Hinzufügen</span>
                            <span class="hidden-sm hidden-md hidden-lg"><i class="icofont icofont-plus"></i></span>
                        </button>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xs-12">
                        <ul>
                            <li *ngFor="let admin of admins; let i = index">
                                <div class="col-xs-12">
                                    <div class="row">
                                        <initiative-supporter class="col-xs-8" [user]="admin"
                                                              [overrideId]="admin.user_id"></initiative-supporter>
                                        <button class="button warning w-button pull-right"
                                                (click)="btnRemoveAdminPressed(i)"
                                        >
                                            <i class="icofont icofont-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--WIZARD FINAL STEP - saving -->
    <div class="row step" [ngClass]="{ 'show' : currentStep == 9}">
        <div class="col-xs-12">
            <h3>{{currentStep}}. Speichere deine {{getWhatItIs()}}.</h3>
            <p>
                Dadurch sind zunächst alle hier angegeben Daten gesichert. Du wirst auf die Seite der
                {{getWhatItIs()}} weiter geleitet, sobald alles fertig ist.<br>
                Dort hast du dann jederzeit die Möglichkeit, deine {{getWhatItIs()}} zu <i>veröffentlichen.</i>
            </p>
        </div>
    </div>
</div>