.mce-panel{
  border-radius: 15px;
  overflow: hidden;
}

.container{
  margin-top: 10px;
  margin-bottom: 50px;
}


.row{
  margin-top: 15px;
}

.step{
  //display: none;
  opacity: 0;
  visibility: hidden;
  transition: .4s;
  height: 0;
  overflow: hidden;
}

.show{
  display: block!important;
  opacity: 1!important;
  height: auto;
  visibility: visible;
  overflow: visible;
}


.numbercontainer{
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
}
.numberwrap{
  display: -webkit-flex;
  display: flex;
  flex-shrink: 1;
}
span.stepnumber {
  color: #3f84cd;
  background-color: #fff;
  border: 1px solid #3f84cd;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  text-align: center;
  line-height: 38px;
  font-size: 1.4em;
  margin: 0 auto;
  transition: .4s;

  &.current{
    background-color: #3f84cd;
    color: #fff;
    border-color: transparent;
  }
}



textarea{
  height: 120px;
  font-size: 16pt;
  padding: 20px;
  border: 1px solid;
  border-radius: 15px;
}

input[type=text]{
  padding: 20px;
  font-size: 16pt;
  border: 1px solid;
  border-radius: 15px;
}

a.support{
  text-decoration: underline;
}
.map{
  width: 100%;
  height: 400px;
}

ul{
  padding-left: 0;
  list-style: none;
}

.btn-add-new{
  padding: 12px 0;
  margin-top: -10px;
}

.dummys{
  text-align: center;
  img{
    box-shadow: 0 2px 13px -3px #000;
    margin: 10px;
    cursor: pointer;
    transition: .2s;
    border-radius: 25px;
    &.selected,
    &:hover{
      margin-top: 5px;
      margin-bottom: 15px;
      box-shadow: 0 8px 13px -5px #000;
    }
    &.selected{
      border-radius: 0;
    }
  }
}