.close{
  border: 1px solid blue;
  padding: 10px;
  cursor: pointer;
  margin-right: 10px;
  &:hover{
    background-color: blue;
    color: white;
  }
}

.thumbnail{
  cursor: pointer;
  &:hover{
    background-color: #dfd0c1;
  }
}

.avatar{
  width: 50px;
  height:auto;
}

.feat-img{
  width: 100%;
}

.collection-item{
  cursor: pointer;
}

.featured-initiative_section{
  height: auto;
  margin-bottom: 50px;
}

.featured-initiative_body {
  height: auto;
}

.collection-list-2 {
  height: auto;
}

.collection-list-wrapper {
  height: auto;
}