<div class="featured-initiative_section">
    <div class="featured-initiative_header">
        <h2 class="featured-initiativen_heading">Eine Auswahl an Initiativen</h2>
    </div>
    <div class="featured-initiative_body">
        <div class="collection-list-wrapper w-dyn-list">
            <div class="collection-list-2 w-dyn-items w-row">

                <landingpage-featured-initiative
                        *ngFor="let initiative of initiatives"
                        [initiative]="initiative"
                ></landingpage-featured-initiative>

            </div>
        </div>
    </div>
</div>