.new-comment-container{
  background-color: #FFF;
  width: 100%;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
}

.comments-container{
  width: 100%;
  margin-top: 30px;
}

.comment-form{
  position: relative;
  margin-bottom: 15px;
}

.buttonarea{
  width:100%;
  float: left;

  background-color: rgba(63, 132, 205, 0.14);
}
.comment-form button{
  float: right;
  margin: 5px;
}

textarea{
  padding: 15px;
  font-weight: lighter;
}