<div class="new-comment-container">
    <!--<div class="row">-->
    <!--<div class="col-xs-12">-->
    <!--<h5>Kommentare</h5>-->
    <!--</div>-->
    <!--</div>-->

    <form (submit)="post()" *ngIf="!initiative.closed">
        <div class="row comment-form">
            <div class="col-xs-12">
                <!--<emoji-input-->
                        <!--[textArea]="{cols: 30, rows: 10}"-->
                        <!--[(model)]="commentText"-->
                        <!--(keyup)="keyUp($event)"-->
                <!--&gt;</emoji-input>-->
                        <!--[popupAnchor]="'bottom'"-->

                <textarea
                    name="new-comment"
                    id=""
                    class="col-xs-12"
                    cols="30"
                    rows="10"
                    placeholder="Verfasse einen Kommentar..."
                    [(ngModel)]="commentText"
                    (keyup)="keyUp($event)"
                ></textarea>

                <div class="buttonarea">
                    <button class="button primary w-button"
                            type="submit">
                        Kommentieren
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="comments-container">
    <initiative-comment
            *ngFor="let comment of comments"
            [comment]="comment"
            [answerable] = "!initiative.closed"
            (receivedanswerid)="childHasReceivedAnswerId($event)"
            [initiative_id]="initiative.id"
    ></initiative-comment>
</div>