h2{
  text-align: center;
}

.number{
  display: block;
  width: 100px;
  height:100px;
  border-radius: 100%;
  background-color: #3f84cd;
  color: #fff;
  line-height: 100px;
  text-align: center;
  font-size: 60px;
  margin: 0 auto;
}

.button.primary{
  float: none;
}
.no-margin{
  margin: 0;
}