<section class="container">

    <div *ngIf="!small">
        <div class="row">
            <div class="col-xs-12">
                <h2>Wie kann ich mitmachen?</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 text-center">
                <span class="number">1</span>
                <h3>Registrieren</h3>
                <p>Registriere Dich hier um eine Initiative zu starten.</p>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 text-center">
                <span class="number">2</span>
                <h3>Initiativen starten</h3>
                <p>Du brauchst Hilfe bei der Umsetzung Deiner Idee? Suche Dir Unterstützer!</p>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 text-center">
                <span class="number">3</span>
                <h3>Initiativen unterstützen</h3>
                <p>Dich interessiert eine Initiative? Werde Unterstützer!</p>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 text-center">
                <span class="number">4</span>
                <h3>Initiativen umsetzen</h3>
                <p>Du hast alles was Du brauchst? Leg los!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <a class="button primary w-button" uiSref="page" [uiParams]="{url:'spielregeln'}">Spielregeln lesen</a>
                <a class="button primary w-button" uiSref="create" *ngIf="loggedIn">Jetzt loslegen</a>
                <a class="button primary w-button" uiSref="login" *ngIf="!loggedIn">Jetzt loslegen</a>
            </div>
        </div>
    </div>


    <div *ngIf="small" class="text-center">
        <a class="button primary w-button no-margin" uiSref="create" *ngIf="loggedIn">Jetzt loslegen</a>
        <a class="button primary w-button no-margin" uiSref="login" *ngIf="!loggedIn">Jetzt loslegen</a>
    </div>
</section>