<contact-user #contact [user]="user"></contact-user>

<div class="container" *ngIf="user">

    <div class="row grey" *ngIf="foreignProfile">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-xs-12">
                    <img src="{{getOtherProfileImageUrl()}}" alt="">
                </div>
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2>{{user.username}}</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="kpi-container col-xs-4">
                            <div class="kpi-number">
                                <h2 class="kpi-number-text">{{kpis.started}}</h2>
                            </div>
                            <h6 class="kpi-text">Gestartet</h6>
                        </div>
                        <div class="kpi-container col-xs-4">
                            <div class="kpi-number">
                                <h2 class="kpi-number-text">{{kpis.supported}}</h2>
                            </div>
                            <h6 class="kpi-text">Unterstützt</h6>
                        </div>
                        <div class="kpi-container col-xs-4">
                            <div class="kpi-number">
                                <h2 class="kpi-number-text">{{kpis.commented}}</h2>
                            </div>
                            <h6 class="kpi-text">Kommentiert</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="col-xs-12 button success w-button col-xs-12 text-center"
                                    (click)="contactUser()">
                                Kontakt aufnehmen
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <h3>Von {{user.username}} gestartet</h3>
            <app-single-initiative
                    *ngFor="let initiative of startedInitiatives"
                    [tiny]="true"
                    [initiative]="initiative">

            </app-single-initiative>
            <h3>Von {{user.username}} unterstützt</h3>
            <app-single-initiative
                    *ngFor="let initiative of supportedInitiatives"
                    [tiny]="true"
                    [initiative]="initiative">
            </app-single-initiative>
        </div>
    </div>

    <div class="row grey" *ngIf="!foreignProfile">
        <div class="col-sm-6">
            <image-upload
                    [successMessage]="'Dein Profilbild wurde geändert.'"
                    [imgUrl]="profileImageUrl"
                    [isProfileImageUploader]="true"
                    [autoUpload]="true"
                    (uploadDone)="setImageInProfile($event)"
            ></image-upload>

            <div class="row">
                <div class="col-xs-12">
                    <h2>Avatare</h2>
                    <p>Wenn du kein Bild vor dir nutzen möchtest, kannst du auch einen Avatar verwenden.</p>
                    <button class="col-xs-12 button w-button col-xs-12 text-center"
                            (click)="showAvatars = !showAvatars">Avatar wählen
                    </button>
                    <button class="col-xs-12 button w-button col-xs-12 text-center" (click)="btnRemoveAvatarPressed()"
                            *ngIf="profile && profile.getAvatarId()">Avatar nicht mehr verwenden
                    </button>
                </div>
            </div>
            <div class="row" *ngIf="showAvatars">
                <div class="col-xs-12">
                    <avatar *ngFor="let avatar of avatarService.avatars" [avatar]="avatar"
                            (click)="btnSelectAvatarPressed(avatar)"></avatar>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div *ngIf="!edit">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>{{user.first_name}} {{user.last_name}} "{{user.username}}"</h2>
                        <h4>{{user.email}}</h4>
                        <button class="button button-w" (click)="btnEditPressed()">Bearbeiten</button>
                    </div>
                </div>
            </div>

            <div *ngIf="edit">
                <div class="row">
                    <div class="col-md-12">
                        <label for="edit-first-name">Vorname
                            <input class="col-xs-12" type="text" id="edit-first-name" name="edit-first-name"
                                   [(ngModel)]="user.first_name">
                        </label>
                    </div>
                    <div class="col-md-12">
                        <label for="edit-last-name">Nachname
                            <input class="col-xs-12" type="text" id="edit-last-name" name="edit-last-name"
                                   [(ngModel)]="user.last_name">
                        </label>
                    </div>
                    <div class="col-md-12">
                        <label for="edit-username">Benutzername
                            <input class="col-xs-12" type="text" id="edit-username" name="edit-username"
                                   [(ngModel)]="user.username">
                        </label>
                    </div>
                    <div class="col-xs-12">
                        <label for="edit-email">E-Mail Adresse
                            <input class="col-xs-12" type="text" id="edit-email" name="edit-email"
                                   [(ngModel)]="user.email">
                        </label>
                    </div>
                </div>
                <privacy-info></privacy-info>
                <br>
                <div class="row buttons">
                    <div class="col-xs-6">
                        <button class="col-xs-12 button success w-button col-xs-12 text-center"
                                (click)="btnSavePressed()">
                            Speichern
                        </button>
                    </div>
                    <div class="col-xs-6">
                        <button class="col-xs-12 button warning w-button col-xs-12 text-center"
                                (click)="btnCancelPressed()">
                            Abbrechen
                        </button>
                    </div>
                </div>
            </div>

            <div class="row no-margin">
                <div class="col-xs-12">
                    <h2>Kontoaktionen</h2>
                </div>
            </div>
            <div class="row no-margin">
                <div class="col-xs-12">
                    <a class="button info w-button col-xs-12 text-center" (click)="onChangePasswordPressed()">Passwort
                        ändern</a>
                </div>
                <div class="col-xs-12">
                    <a class="button w-button warning col-xs-12 text-center text-white"
                       (click)="onCloseAccountPressed()">Account
                        deaktivieren</a>
                </div>
                <!--<div class="col-xs-12">-->
                <!--<a uiSref="my-initiatives"-->
                <!--class="button col-xs-12 text-center">Meine Initiativen</a>-->
                <!--</div>-->
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <h2>Newsletter</h2>
                    <ui-switch
                            *ngIf="profile"
                            [(ngModel)]="profile.receives_newsletter"
                            (change)="onNewsletterChanged()">
                    </ui-switch>
                    <p>
                        Du kannst den Empfang des Newsletters jederzeit an- und wieder abschalten.
                        Du erhälst ihn nur zu den Zeiten, du denen du den Newsletterempfang aktiviert hast.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">

                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <invitations [user]="user"></invitations>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="!foreignProfile">
        <div class="kpi-container col-xs-4">
            <div class="kpi-number">
                <h2 class="kpi-number-text">{{kpis.started}}</h2>
            </div>
            <h6 class="kpi-text">Gestartet</h6>
        </div>
        <div class="kpi-container col-xs-4">
            <div class="kpi-number">
                <h2 class="kpi-number-text">{{kpis.supported}}</h2>
            </div>
            <h6 class="kpi-text">Unterstützt</h6>
        </div>
        <div class="kpi-container col-xs-4">
            <div class="kpi-number">
                <h2 class="kpi-number-text">{{kpis.commented}}</h2>
            </div>
            <h6 class="kpi-text">Kommentiert</h6>
        </div>
    </div>
    <!--<div class="row">-->
    <!--<div class="col-xs-12">-->
    <!--<app-cropper></app-cropper>-->
    <!--</div>-->
    <!--</div>-->
</div>