.profile-image-wrapper{
  width: 250px;
  height: 250px;
  //border-radius: 50%;
  //overflow: hidden;
  text-align: center;
}

label{
  input{
    font-weight: lighter;
  }
}
.container{
  padding: 0 15px;
}

.grey{
  //background-color: #efefef;
  margin-top: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

.profile-image{
  width: auto;
  min-height: 100%;
  //min-width: 100px;
  //min-height: 100px;
  background-image: url('/assets/images/user.jpg');
}

.text-white{
  color: #fff;
}
//
input[type=text]{
  padding: 5px;
  margin: 5px 0;
}
//
//#edit-first-name,
//#edit-last-name{
//  width: 50%;
//}

.row.buttons{
  margin-top:0;
  margin-bottom: 25px;
}

.no-margin{
  margin-top: 0;
}