<!--<loader [loading]="loading"></loader>-->
<div class="container">
    <div class="tabs">
        <div class="tab"
             (click)="showMineTab = true;"
             [ngClass]="{'active' : showMineTab}">
            <h2 class="hidden-xs">Eigene Initiativen</h2>
            <h2 class="hidden-sm hidden-md hidden-lg">Eigene</h2>
        </div>
        <div class="tab"
             (click)="showMineTab = false;"
             [ngClass]="{'active' : !showMineTab}">
            <h2 class="hidden-xs hidden-sm">Initiativen, die ich unterstütze</h2>
            <h2 class="hidden-md hidden-lg">Unterstützte</h2>
        </div>
    </div>
    <div class="row">

        <!--LEFT COLLUMN-->
        <div class="col-xs-12" [hidden]="!showMineTab">
            <!--The users own initiatives-->
            <my-own-initiatives #ownInitiatives></my-own-initiatives>

        </div>
        <!--./LEFT COLLUMN-->

        <!--RIGHT COLLUMN-->
        <div class="col-xs-12" [hidden]="showMineTab">
            <my-own-initiatives [supportedInitiatives]="true" #supportedInitiatives></my-own-initiatives>
        </div>
        <!--./RIGHT COLLUMN-->
    </div>
</div>

<!--HINT that the user neither owns nor supports any Initiatives-->
<!--<div class="container" *ngIf="userDidntDoAnything">-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<h2>-->
<!--Du hast noch keine Initiative angelegt oder unterstützt.-->
<!--</h2>-->
<!--<p>-->
<!--Starte eine eigene Inititiative oder gehe auf Entdeckungsreise und finde eine Initiative,-->
<!--die du unterstützen möchtest.-->
<!--</p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-xs-6">-->
<!--<a class="button success w-button col-xs-12" uiSref="create">Initiative starten</a>-->
<!--</div>-->
<!--<div class="col-xs-6">-->
<!--<a class="button success w-button col-xs-12" uiSref="initiatives">Initiativen entdecken</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->