.tabs {
  width: 100%;
  background: red;
  margin: 0;
  position: absolute;
  z-index: 11;
  left: 0;
  top: 0;

  .tab {
    background-color: #b0ccea;
    color: #fff;
    border-bottom: 1px solid #ababab;
    box-shadow: inset 3px -8px 20px -15px #000;
    cursor: pointer;
    transition: .2s;
    width: 50%;
    float: left;
    text-align: center;
    &:hover {
      background-color: #3f84cd;
      color: #fff;
      box-shadow: inset 2px -8px 11px -15px #000;
      /* height: 67px; */
      /* margin-top: 0px; */
    }

    &.active {
      background-color: #3f84cd;
      color: #fff;
      box-shadow: inset 2px -8px 11px -15px #000;
      /* height: 67px; */
      /* margin-top: 0px; */
    }
  }
}