<div class="hero-section" *ngIf="landingPage">
    <div class="hero-container w-container">
        <div class="hero_content-wrapper">
            <h1 class="hero_heading">{{landingPage.welcomeTitle}}</h1>
            <p class="hero_subtitle">{{landingPage.welcomeText}}</p>
        </div>
    </div>
</div>