<div class="row">
    <div class="col-xs-12">
        <h3>Offene Einladungen</h3>
    </div>
</div>
<div class="row" *ngIf="!invitations || invitations.length == 0">
    <div class="col-xs-12">
        <div class="jumbotron">
            Du hast derzeit keine offenen Einladungen
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <invitation
                *ngFor="let invitation of invitations"
                [invitation]="invitation">
        </invitation>
    </div>
</div>