<div class="container">
    <div class="row">
        <div class="col-md-6">
            <app-handlungsfelder></app-handlungsfelder>
        </div>
        <div class="col-md-6">
            <app-ortsgemeinden></app-ortsgemeinden>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <initiaive-list></initiaive-list>
        </div>
    </div>
</div>