.map{
  height: 400px;
}

ul{
  padding-left: 0;
}

.add-new{
  margin-bottom: 20px;
}

.btn-add-new{
  margin-top: 2px;
}

label[for=new_admin]{
  padding-left: 0;
}

li{
  list-style-type: none;
  border: 1px solid #bbb;
  height: 70px;
  padding-right: 10px;
  border-radius: 10px;
  margin-bottom: 10px;

  .row{
    margin-top: 0;
  }

  button{
    margin-top: 10px;
  }
}

input[type=text]{
  border: 1px solid;
  border-radius: 10px;
  padding: 15px;
}


.creating{
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  text-align: center;
  line-height: 100vh;
  color: #fff;
  background-image: radial-gradient(circle farthest-corner at 50% 50%, #3f84cd, #285f99);
  h1{
    text-align: center;
    line-height: 100vh;
  }
}

@keyframes blink {
  /**
   * At the start of the animation the dot
   * has an opacity of .2
   */
  0% {
    opacity: .2;
  }
  /**
   * At 20% the dot is fully visible and
   * then fades out slowly
   */
  20% {
    opacity: 1;
  }
  /**
   * Until it reaches an opacity of .2 and
   * the animation can start again
   */
  100% {
    opacity: .2;
  }
}

.saving span {
  /**
   * Use the blink animation, which is defined above
   */
  animation-name: blink;
  /**
   * The animation should take 1.4 seconds
   */
  animation-duration: 1.4s;
  /**
   * It will repeat itself forever
   */
  animation-iteration-count: infinite;
  /**
   * This makes sure that the starting style (opacity: .2)
   * of the animation is applied before the animation starts.
   * Otherwise we would see a short flash or would have
   * to set the default styling of the dots to the same
   * as the animation. Same applies for the ending styles.
   */
  animation-fill-mode: both;
}

.saving span:nth-child(2) {
  /**
   * Starts the animation of the third dot
   * with a delay of .2s, otherwise all dots
   * would animate at the same time
   */
  animation-delay: .2s;
}

.saving span:nth-child(3) {
  /**
   * Starts the animation of the third dot
   * with a delay of .4s, otherwise all dots
   * would animate at the same time
   */
  animation-delay: .4s;
}