<div class="creating" *ngIf="saving">
    <h1 class="saving">Deine {{getWhatItIs()}} wird gespeichert<span>.</span><span>.</span><span>.</span></h1>
</div>
<div class="container">
    <form>
        <div class="row" *ngIf="initiative">
            <div class="col-xs-12">
                <label for="title"><h3>Gib deiner {{getWhatItIs()}} einen Namen</h3></label>
                <p>
                    Dies ist der Titel deiner {{getWhatItIs()}}. Halte dich kurz und wähle einen möglichst
                    beschreibenden titel.
                </p>
                <input type="text" id="title" name="title" class="col-xs-12" [(ngModel)]="initiative.title"/>
            </div>
        </div>

        <div class="row" *ngIf="initiative">
            <div class="col-xs-12">
                <h3>Beschreibe dein Vorhaben</h3>
                <p>
                    Erkläre möglichst präzise, worin deine Idee oder dein Vorhaben besteht und worin
                    der Nutzen für dich und andere liegt. <br>
                    Beschreibe zudem, was du bereits dazu getan hast.
                </p>
                <app-tinymce [(ngModel)]="initiative.description" [ngModelOptions]="{standalone: true}"></app-tinymce>
            </div>
        </div>

        <div class="row" *ngIf="initiative">
            <div class="col-xs-12">
                <h3>Ort und Zeit</h3>
                <owl-date-time
                        [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="initiative.date"
                        [locale]="de"
                        [inline]="false"
                        [placeHolder]="'Bitte wähle eine Uhrzeit.'"
                        [dateFormat]="'DD.MM.YYYY H:mm'">
                </owl-date-time>
            </div>
        </div>

        <div class="row" *ngIf="initiative">
            <div class="col-xs-12">
                <h3>Wähle Ortsgemeinde/n und Handlungsfeld/er </h3>
                <p>
                    Wähle hier alle Ortsgemeinden und Handlungsfelder, welche von der Initiative betroffen
                    sein sollen. Wenn du der Meinung bist, dass ein Handlungsfeld fehlt, so kannst du dich jederzeit
                    an unseren Support wenden.
                </p>
                <initiative-filters
                        #filters
                        (filterChanged)="onFilterChanged($event)">
                </initiative-filters>
            </div>
        </div>

        <div class="row" *ngIf="initiative">
            <div class="col-xs-12">
                <h3>Markiere den Ort</h3>
                <p>
                    Klicke auf den Ort in der Karte, den deine {{getWhatItIs()}} betrifft oder an dem sie stattfinden
                    soll.
                    Denke daran, dass du die Karte, für eine präzisere Auswahl, vergrößern kannst.
                </p>
                <!--<pre>{{initiative|json}}</pre>-->
                <agm-map
                        class="map"
                        [latitude]="lat"
                        [longitude]="lon"
                        [zoom]="13"
                        (mapClick)="mapClicked($event)">
                    <agm-marker
                            *ngIf="initiative.latitude && initiative.longitude"
                            [iconUrl]="'/assets/images/gm-marker.png'"
                            [latitude]="initiative.latitude"
                            [longitude]="initiative.longitude"></agm-marker>
                </agm-map>
                <button *ngIf="initiative.latitude && initiative.longitude"
                        class="button button-w info"
                        (click)="removeGeoReference()">Markierung entfernen
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h3>Füge ein Titelbild hinzu</h3>
                <p>
                    Dieses Bild wird oben auf deiner {{getWhatItIs()}}seite angezeigt. Es sollte den Kern der
                    {{getWhatItIs()}}
                    repräsentieren.
                </p>
                <image-upload
                        #uploadHero
                        [successMessage]="'Das Titelbild wurde hinzugefügt.'"
                        [uploadTarget]="'/files/initiatives/'"
                        [imgUrl]="heroFilePath"
                        [fileName]="heroFileName"
                        [originalFileType]="heroFileType"
                        [desgination]="0"
                        (fileInfoChanged)="increaseUploadCounter()"
                        (uploadDone)="attachHero($event)"
                ></image-upload>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h3>Füge bis zu drei Bilder zu deiner {{getWhatItIs()}} hinzu.</h3>
                <p>
                    Hier kannst du Bilder zur Galerie deiner {{getWhatItIs()}} hinzufügen.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <image-upload
                        #upload1
                        [successMessage]="'Das Bild wurde hinzugefügt.'"
                        [uploadTarget]="'/files/initiatives/'"
                        [imgUrl]="image1Path"
                        [fileName]="image1Name"
                        [originalFileType]="image1FileType"
                        [desgination]="1"
                        (fileInfoChanged)="increaseUploadCounter()"
                        (uploadDone)="attachImage($event)"
                ></image-upload>
            </div>
            <div class="col-xs-4">
                <image-upload
                        #upload2
                        [successMessage]="'Das Bild wurde hinzugefügt.'"
                        [uploadTarget]="'/files/initiatives/'"
                        [imgUrl]="image2Path"
                        [fileName]="image2Name"
                        [originalFileType]="image2FileType"
                        [desgination]="2"
                        (fileInfoChanged)="increaseUploadCounter()"
                        (uploadDone)="attachImage($event)"
                ></image-upload>
            </div>
            <div class="col-xs-4">
                <image-upload
                        #upload3
                        [successMessage]="'Das Bild wurde hinzugefügt.'"
                        [uploadTarget]="'/files/initiatives/'"
                        [imgUrl]="image3Path"
                        [fileName]="image3Name"
                        [originalFileType]="image3FileType"
                        [desgination]="3"
                        (fileInfoChanged)="increaseUploadCounter()"
                        (uploadDone)="attachImage($event)"
                ></image-upload>
            </div>
        </div>

        <div class="row" *ngIf="initiative">
            <div class="col-xs-12">
                <h3>Speichere deine {{getWhatItIs()}}</h3>
                <p>
                    Dadurch sind zunächst alle hier angegeben Daten gesichert. Du wirst auf die Seite der
                    {{getWhatItIs()}} weiter geleitet, sobald alles fertig ist.<br>
                    Dort hast du dann jederzeit die Möglichkeit, deine {{getWhatItIs()}} zu <i>veröffentlichen.</i>
                </p>
                <button class="button primary w-button" (click)="btnSaveInitiativePressed()">Speichern</button>
            </div>
        </div>
    </form>
    <div class="row" *ngIf="initiative">
        <div class="col-xs-12">
            <h3>Sichtbarkeit der {{getWhatItIs()}}</h3>
            <p>Du kannst bestimmten, ob Deine {{getWhatItIs()}} weiter veröffentlicht bleiben soll, oder lieber nicht.
                Diese
                Einstellung kannst Du jederzeit ändern.</p>
            <ui-switch [(ngModel)]="initiative.published"
                       (change)="onPublishedChanged()">
            </ui-switch>
        </div>
    </div>

    <div class="row" *ngIf="initiative">
        <div class="col-xs-12">
            <h2>Vertreter bearbeiten</h2>
            <p>Ein Vertreter hat Administrationsrechte und kann in dieser {{getWhatItIs()}} alles tun, was du auch tun
                kannst.</p>
            <form>
                <div class="row add-new">
                    <div class="col-md-8">
                        <label for="new_admin" class="col-xs-12">
                            <input
                                    type="text"
                                    class="col-xs-12"
                                    id="new_admin"
                                    name="new_admin"
                                    placeholder="E-Mail des Benutzers"
                                    [(ngModel)]="newAdmin"
                            >
                        </label>
                    </div>
                    <div class="col-md-4">
                        <button class="button primary w-button col-xs-12 btn-add-new" [disabled]="!newAdmin"
                                (click)="btnAddAdminPressed()">Hinzufügen
                        </button>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xs-12">
                        <ul>
                            <li *ngFor="let admin of initiative.owners">
                                <div class="col-xs-12">
                                    <div class="row">
                                        <initiative-supporter class="col-xs-8" [user]="admin"
                                                              [overrideId]="admin.user_id"></initiative-supporter>
                                        <button class="button warning w-button pull-right"
                                                (click)="btnRemoveAdminPressed(admin.id)"
                                        >
                                            <i class="icofont icofont-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>