<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Newsletter Empfänger</h1>
        </div>
        <div class="col-md-6">
            <button class="button button-w primary pull-right" (click)="newsletterService.downloadCsv()"><i class="icofont icofont-download"></i></button>
        </div>
    </div>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>E-Mail Adresse</th>
        </tr>
        <tr *ngFor="let recipient of newsletterService.recipients">
            <td>{{recipient.first_name}} {{recipient.last_name}}</td>
            <td>{{recipient.email}}</td>
        </tr>
    </table>
</div>