<landingpage-gero [landingPage]="landingPage"></landingpage-gero>

<!--<landingpage-vision></landingpage-vision>-->

<landingpage-explanation [landingPage]="landingPage"></landingpage-explanation>

<landingpage-participation></landingpage-participation>

<landingpage-featured></landingpage-featured>

<landingpage-quotes [landingPage]="landingPage"></landingpage-quotes>

<landingpage-participation [small]="true"></landingpage-participation>