//ul.tags{
//  list-style-type: none;
//  li{
//    float: left;
//    margin-left: 5px;
//    color: #fff;
//    padding: 2px 7px;
//    border-radius: 15px;
//    background-color: #005ca9;
//    &:before{
//      content:'#'
//    }
//  }
//}