.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
//
.inputfile + label {
  cursor: pointer;
}
//  font-size: 1.25em;
//  font-weight: 700;
//  display: inline-block;
//  cursor: pointer;
//
//  border-radius: 20px;
//  background: white;
//  padding: 8px;
//  margin-top: 10px;
//  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, .3);
//
//  width: 100%;
//  text-align: center;
//}
//
//.inputfile:focus + label,
//.inputfile + label:hover {
//  background-color:#414141;
//}

.inputfile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.upload-icon{
  font-family: IcoFont;

}