 <div>
    <div>
        <input
                type="file"
                id="file-{{desgination}}"
                class="inputfile inputfile-{{desgination}}"
                accept="image/*"
                (change)="onSelectedFileChanged($event)">
        <label for="file-{{desgination}}" class="button col-xs-12 text-center">
            <span class="hidden-xs">Bild vom Computer auswählen</span>
            <span class="hidden-md hidden-sm hidden-lg"> <i class="icofont icofont-ui-image"></i> <i class="icofont icofont-upload-alt"></i></span>
        </label>
    </div>
</div>