<a class="button navbar_item primary w-nav-link" uiSref="page" [uiParams]="{url:'spielregeln'}">Spielregeln</a>
<a class="button navbar_item primary w-nav-link" uiSref="page" [uiParams]="{url:'hintergrund'}">Hintergrund</a>
<!--<a class="button navbar_item primary w-nav-link"-->
   <!--*ngFor="let page of cmsPages"-->
   <!--(click)="navigate(page)">-->
    <!--{{page.getTitle()}}-->
<!--</a>-->