<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Zu bearbeitende Seite</h1>
            <select name="" id="" [(ngModel)]="selectedId" (change)="onSelectedChanged()">
                <option value="-1" disabled>Bitte wählen</option>
                <option value="{{page.getId()}}" *ngFor="let page of pages">{{page.getTitle()}}</option>
            </select>
        </div>
    </div>

    <div class="row" *ngIf="activePage">
        <div class="col-xs-12">
            <h2>Inhalt</h2>

            <label for="page_title">
                <span>Seitenbezeichnung</span>
                <input type="text" id="page_title" [(ngModel)]="activePage.title">
            </label>
            <app-tinymce [(ngModel)]="activePage.content"
                         [ngModelOptions]="{standalone: true}"></app-tinymce>
        </div>
    </div>

    <div class="row" *ngIf="activePage">
        <div class="col-xs-12">
            <button class="button button-w warning" (click)="btnCancelPressed()">Abbrechen</button>
            <button class="button button-w success" (click)="btnSavePressed()">Speichern</button>
        </div>
    </div>
</div>