<div class="navbar-loggedin w-nav" data-animation="default" data-collapse="medium" data-duration="400">

    <div class="navbar-loggedin_container w-clearfix">

        <!--MOBILE NAVIGATION MENU BUTTON-->
        <div class="menu-button-2 w-nav-button"
             [ngClass]="{'blue-bg': menuOpen}">
            <div class="menu-button-wrapper"
                 [ngClass]="{'wrapper-p-1': !menuOpen, 'wrapper-p-2': menuOpen}"
                 (click)="toggleMobileMenu()">
                <div class="menu-button-line" [ngClass]="{'line-1-p-1': !menuOpen, 'line-1-p-2': menuOpen}"></div>
                <div class="menu-button-line-top" [ngClass]="{'line-2-p-1': !menuOpen, 'line-2-p-2': menuOpen}"></div>
                <div class="menu-button-line-bottom" [ngClass]="{'line-3-p-1': !menuOpen, 'line-3-p-2': menuOpen}"></div>
            </div>
        </div>
        <!--./MOBILE NAVIGATION MENU BUTTON-->

        <!--MOBILE NAVIGATION MENU-->
        <div class="mobile-menu" id="mobile-menu" #mobileMenu>
            <nav app-guest-menu *ngIf="userIsLoggedIn == false"
                 (navigatedEventEmitter)="toggleMobileMenu()"></nav>

            <nav app-user-menu *ngIf="userIsLoggedIn == true && userIsAdmin == false"
                 (navigatedEventEmitter)="toggleMobileMenu()"></nav>

            <nav app-admin-menu *ngIf="userIsAdmin == true"
                 (navigatedEventEmitter)="toggleMobileMenu()"></nav>
        </div>
        <!--./MOBILE NAVIGATION MENU-->

        <!--DESKTOP NAVIGATION-->
        <a class="brand-2 w-nav-brand" uiSref="landing-page"></a>

        <nav class="navbar_menu w-nav-menu" role="navigation" app-guest-menu *ngIf="userIsLoggedIn == false"></nav>
        <nav class="navbar_menu w-nav-menu" role="navigation" app-user-menu
             *ngIf="userIsLoggedIn == true && userIsAdmin == false"></nav>
        <nav class="navbar_menu w-nav-menu" role="navigation" app-admin-menu *ngIf="userIsAdmin == true"></nav>
        <!--./DESKTOP NAVIGATION-->

    </div>
</div>