.menu-button-2{
  transition: .4s;
}

.navbar_menu {
  flex-direction: row;
  top: 0;
}

.navbar-loggedin {
  top: 0;
  z-index: 20;
}

@media screen and (max-width: 500px) {
  .claim {
    display: none;
  }
}

.mobile-menu {
  opacity: 0;
  margin-top: 69px;
  height: auto;
  background-color: #fff;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 20;
  left: 0;
  right: 0;
  top: -600px;
  border-bottom: 5px solid #3f84cd;
  text-align: center;
  transition: .4s;
}

@media screen and (min-width: 991px) {
  .mobile-menu {
    display: none;
  }
}

/* Menu button line animation phases*/
.wrapper-p-1 {
  transform-style: preserve-3d;
  transition: transform 600ms ease-in-out;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.wrapper-p-2 {
  transform-style: preserve-3d;
  transition: transform 600ms ease-in-out;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(180deg);
}

.blue-bg{
  background-color: #3f84cd;
  transition: .6s;
}

.line-1-p-1 {
  display: block;
  opacity: 1;
  transition: opacity 400ms ease-in-out;
}

.line-1-p-2 {
  display: block;
  transition: opacity 400ms ease-in-out;
  opacity: 0;
  background-color: #fff;
}

.line-2-p-1 {
  transform-style: preserve-3d;
  transition: transform 400ms ease-in-out;
  transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.line-2-p-2 {
  transform-style: preserve-3d;
  transition: transform 400ms ease-in-out;
  transform: translateX(0px) translateY(6px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(45deg);
  background-color: #fff;
}

.line-3-p-1 {
  transform-style: preserve-3d;
  transition: transform 400ms;
  transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.line-3-p-2 {
  transform-style: preserve-3d;
  transition: transform 400ms ease-in-out;
  transform: translateX(0px) translateY(-6px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(-45deg);
  background-color: #fff;
}