<section>

    <a class="mdz-home-icon w-inline-block" uiSref="landing-page"></a>

    <div class="auth">
        <div class="register">
            <img class="password_icon" src="assets/images/locked.svg">
        </div>
        <div class="login">
            <h2>Passwort zurücksetzen</h2>
            <form action="">
                <input class="text-field-2 w-input"
                       id="email"
                       name="password-1"
                       placeholder="Gib deine E-Mail Adresse an"
                       required="required"
                       [(ngModel)]="email"
                       type="email">

                <input class="text-field-2 w-input"
                       id="password-1"
                       name="password-1"
                       placeholder="Gib dein neues Passwort ein"
                       required="required"
                       [(ngModel)]="pw1"
                       type="password">

                <input class="text-field-2 w-input"
                       id="password-2"
                       name="password-2"
                       placeholder="Gib dein neues Passwort erneut ein"
                       required="required"
                       [(ngModel)]="pw2"
                       type="password">

                <input class="button primary w-button col-xs-12 text-center"
                       data-wait="Bitte warten"
                       type="submit"
                       value="Zurücksetzen"
                       (click)="save()">
            </form>
        </div>
    </div>
</section>
