<td>{{report.user_id}}</td>
<td *ngIf="user">{{user.username}} ({{user.email}})</td>
<td *ngIf="comment">{{comment.text}}</td>
<td *ngIf="reporter">{{reporter.username}} ({{reporter.email}})</td>
<td>{{report.message}}</td>
<td>
    <a class="button button-w primary"
       uiSref="show"
       target="_blank"
       [uiParams]="{initiativeId:report.initiative_id}">Initiative <i class="icofont icofont-external-link"></i></a>
    <a class="button button-w primary" (click)="btnResolvePressed()">Erledigt <i class="icofont icofont-check"></i></a>
    <a class="button button-w primary" (click)="btnClearCommentPressed()">Löschen <i class="icofont icofont-close"></i></a>
</td>
