<div
        *ngIf="initiative"
        class="collection-item w-col w-col-4 w-dyn-item"
        (click)="open()"
        [style.background-image]="path(initiative.getHero().getPath())">
        <div class="collection-item_overlay">
            <div class="featured-initiative_footer"></div>
            <h1 class="initiative-heading">{{initiative.title}}</h1>
            <div class="featured-inititative_paragraph" [innerHTML]="okHtml(initiative.description)"></div>
        </div>
</div>