.w-dyn-item{
  &:hover{
    .featured-inititative_paragraph,
    .initiative-heading,
    .collection-item_overlay {
      transition: .6s;
      opacity: 1;
    }
  }

  .featured-inititative_paragraph{
    width: 100%;
  }
}
.collection-item{
  cursor: pointer;
}