.footer-section {
  //margin-top: -110px;
}

.brand-2.small {
  width: 50px;
  overflow: hidden;
  background-size: cover;
}

@media (max-width: 679px) {
  .footer-link {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .footer-links {
    height: auto;
    margin-right: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .footer-section {
    height: auto;
  }
}
