<div class="footer-section w-clearfix">

    <a class="brand-2 w-nav-brand hidden-xs hidden-sm" uiSref="landing-page"></a>
    <a class="brand-2 w-nav-brand small hidden-md hidden-lg" uiSref="landing-page"></a>

    <div class="footer-links">
        <a class="footer-link" href="https://gitlab.com/chardt/mdz/" target="_blank">Open Source</a>
        <a class="footer-link" uiSref="handbuch" target="_blank">Hilfe</a>
        <!--<a class="footer-link" uiSref="version">v0.7.0</a>-->
        <a class="footer-link"
            *ngFor="let page of cmsPages"
           uiSref="page"
           [uiParams]="{url: page.getUrl()}"
           >
            {{page.getTitle()}}
        </a>
    </div>
</div>