.tiny-spacer {
  display: inline-block;
  width: 20px;
}

.search {
  width: 80%;
             input[type=text] {
    padding: 10px;
    border-radius: 15px;
    border: 1px solid;
    width: 100%;
    margin-top: 15px;
  }
}