<!--TITLE-->
<div class="row">
  <div class="col-xs-12">
    <h1>Initiativen</h1>
  </div>
</div>

<!--PAGINATION 2-->
<div class="row w-container">
  <div class="pull-left search">
    <input type="text" placeholder="Suche..." [(ngModel)]="searchString" (keyup)="onKeyUp($event)">
  </div>
  <div class="pull-right text-right">
    {{page}}/{{pages}}
    <i class="tiny-spacer"></i>
    <button class="button w-button" (click)="prev()"> < </button>
    <button class="button w-button" (click)="next()"> > </button>
  </div>
</div>
<!--<div class="row w-container">-->
  <!--<div class="pull-left search">-->
    <!---->
  <!--</div>-->
  <!---->
<!--</div>-->

<!--LIST-->
<div class="row">
  <div class="col-xs-12">
    <app-single-initiative
            *ngFor="let initiative of initiatives"
            [initiative]="initiative"
            [admin]="true"
            (onMarkAsDemo)="markAsDemo($event)"
            (onBlock)="block($event)"
    ></app-single-initiative>
  </div>
</div>

<!--PAGINATION 2-->
<div class="row w-container">
  <div class="pull-left search">
    <input type="text" placeholder="Suche..." [(ngModel)]="searchString" (keyup)="onKeyUp($event)">
  </div>
  <div class="pull-right text-right">
    {{page}}/{{pages}}
    <i class="tiny-spacer"></i>
    <button class="button w-button" (click)="prev()"> < </button>
    <button class="button w-button" (click)="next()"> > </button>
  </div>
</div>