ul{
  padding: 0;
}

input[type=text]{
  height: 45px;
  color: #000;
  font-weight: normal;
}

label{
  width: 75%;
  height: 45px;
  display: block;
  margin: 0 0 0 10px;
  float: left;
}

button{
  width: 15%;
  margin: 0 0 0 5%;
}