<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Spielregeln</h1>
      <p>
        Diese Plattform dient dazu, gemeinsam das Leben in der Verbandsgemeinde zu verbessern und sich bei Projekten und Aktionen zu unterstützen.
      </p>
      <ul>
        <li>Sei immer fair und freundlich.	</li>
        <li>Schreibe konstruktive und sachliche Beiträge.</li>
        <li>Nutze den eigenen Namen.</li>
        <li>Veröffentliche in keiner Weise rechtswidrige oder anstößige Inhalte, auch keine Beleidigungen. </li>
        <li>Rechtswidriger, diffamierender, drohender, beleidigender, rassistischer, sexistischer oder anderweitiger anstößiger Inhalt wird nicht akzeptiert. </li>
        <li>Verlinke nicht auf Webseiten, die gegen die Spielregeln verstoßen.</li>
        <li>Spam oder nicht themenrelevante Inhalte werden nicht geduldet.</li>
        <li>Nutze diese Plattform nicht für kommerzielle Werbung.</li>
        <li>Wer sich nicht an die Spielregeln hält fliegt leider raus.</li>
      </ul>
    </div>
  </div>
</div>