<div class="alert alert-info">
  <strong>Wer kann das sehen?</strong>
  <br>
  Auf dem Marktplatz wird stets nur dein Benutzername angezeigt. Andere Benutzer können im Portal weder deinen echten Namen, noch
  deine E-Mail Adresse sehen. Möchtest du mit einem anderen Nutzer in direkten Kontakt treten, so kannst du dies über
  dessen Profil tun.
</div>