<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <h2>Handlungsfelder</h2>
            </div>
        </div>
        <div class="row">

            <label for="name" class="label">
                <input type="text" id="name" class="col-xs-12" [(ngModel)]="newName" name="name" placeholder="Neues Handlungsfeld...">
            </label>
            <button class="button button-w primary" (click)="add()"><i class="icofont icofont-plus"></i></button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <app-handlungsfeld
                *ngFor="let handlungsfeld of handlungsfelder"
                [handlungsfeld]="handlungsfeld"
                (onDeleted)="deleted($event)"
        ></app-handlungsfeld>
    </div>
</div>
