.avatar{
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 100%;
  float: left;
  margin: 5px;
  border: 1px solid;

  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #fff;

  cursor: pointer;
  transition: .2s;

  &:hover{
    width: 60px;
    height: 60px;
    margin: 0;
    box-shadow: 0px 4px 14px -4px #000;
  }
}

.big{
  width: 250px;
  height: 250px;
  margin: 0 auto;
  cursor: default;

  &:hover{
    width: 250px;
    height: 250px;
    margin: 0 auto;
    box-shadow: none;
  }
}