.initiative-wrapper{

  background-color: #efefef;

  .container{
    border: none;
    box-shadow: none;
    background-color: transparent;
  }

  .pull-up-130{
    top: -125px;
    padding: 0 15px 0 15px;
  }
}