<div *ngIf="initiative" class="initiative-wrapper">

    <div class="row">
        <div class="col-xs-12">
            <initiative-heading [initiative]="initiative"></initiative-heading>
        </div>
    </div>
    <div class="container pull-up-130">

        <div class="row">
            <div class="col-xs-12">
                <initiative-gallery [initiative]="initiative"></initiative-gallery>
            </div>
        </div>

        <landingpage-participation *ngIf="!sessionService.getCurrentLoginStatus()"></landingpage-participation>

        <div class="row" *ngIf="sessionService.getCurrentLoginStatus()">
            <div class="col-md-8">
                <initiative-comments [initiative]="initiative"></initiative-comments>
            </div>
            <div class="col-md-4">
                <initiative-sidebar [initiative]="initiative"></initiative-sidebar>
            </div>
        </div>
    </div>
</div>