<app-top-menu></app-top-menu>

<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<div class="marge">
    <ui-view></ui-view>
</div>
<!--</div>-->
<!--</div>-->

<app-footer class="footer-section"></app-footer>