<div class="entry">
    <span *ngIf="!edit">{{handlungsfeld.name}}</span>
    <input type="text" *ngIf="edit" [(ngModel)]="handlungsfeld.name" (keyup)="onKeyUp($event)">
    <button (click)="btnEditClicked()" class="pull-right">
        <i class="icofont icofont-close" *ngIf="edit"></i>
        <i class="icofont icofont-edit" *ngIf="!edit"></i>
    </button>
    <button (click)="btnTrashClicked()" *ngIf="edit" class="pull-right"><i class="icofont icofont-trash"></i></button>
    <button (click)="btnSaveClicked()" *ngIf="edit" class="pull-right"><i class="icofont icofont-save"></i></button>
</div>