<div class="container">
    <div class="tabs">
        <div class="tab"
             (click)="showHistory = false;"
             [ngClass]="{'active' : !showHistory}">
            <h2>Entdecken</h2>
        </div>
        <div class="tab"
             (click)="loadHistory()"
             [ngClass]="{'active' : showHistory}">
            <h2 class="hidden-md hidden-lg">Erfolge</h2>
            <h2 class="hidden-xs hidden-sm">Erfolgreiche Initiativen</h2>
        </div>
    </div>

    <div class="w-container" *ngIf="!showHistory">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <initiative-filters (filterChanged)="onFilterChanged($event)"></initiative-filters>
                    </div>
                </div>
                <!--PAGINATION-->
                <div class="row">
                    <div class="col-md-8 search">
                        <input type="text" class="col-xs-12" placeholder="Suche..." [(ngModel)]="searchString"
                               (keyup)="onKeyUp($event)">
                    </div>
                    <div class="col-md-4">
                        <div class="pull-right text-right">
                            <div class="pages">{{page}} von {{pages}}</div>
                            <button class="button w-button" (click)="prev()"><i class="icofont icofont-simple-left"></i>
                            </button>
                            <button class="button w-button" (click)="next()"><i
                                    class="icofont icofont-simple-right"></i></button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <app-single-initiative
                                *ngFor="let initiative of initiativeService.initiatives"
                                [initiative]="initiative"
                        ></app-single-initiative>
                    </div>
                </div>

                <!--PAGINATION-->
                <div class="row" *ngIf="initiativeService.initiatives && initiativeService.initiatives.length > 2">
                    <div class="col-md-8 search">
                        <!--<input type="text" class="col-xs-12" placeholder="Suche..." [(ngModel)]="searchString"-->
                               <!--(keyup)="onKeyUp($event)">-->
                    </div>
                    <div class="col-md-4">
                        <div class="pull-right text-right">
                            <div class="pages">{{page}} von {{pages}}</div>
                            <button class="button w-button" (click)="prev()"><i class="icofont icofont-simple-left"></i>
                            </button>
                            <button class="button w-button" (click)="next()"><i
                                    class="icofont icofont-simple-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="w-container" *ngIf="showHistory">
        <app-single-initiative
                *ngFor="let initiative of history"
                [initiative]="initiative"
        ></app-single-initiative>
    </div>
</div>