.w-container{
  padding-top: 80px;
}
.tiny-spacer {
  display: inline-block;
  width: 20px;
}

.search {
  //width: 80%;
  input[type=text] {
    padding: 10px;
    border-radius: 15px;
    border: 1px solid;
    width: 100%;
    margin-top: 15px;
  }
}

.pages{
  display: inline-block;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.3);;
  padding: 12px;
  border-radius: 15px;
  margin: 0 auto;
  background-color: #fff;
}

.tabs {
  width: 100%;
  background: red;
  margin: 0;
  position: absolute;
  z-index: 11;
  left: 0;
  top: 0;

  .tab {
    background-color: #b0ccea;
    color: #fff;
    border-bottom: 1px solid #ababab;
    box-shadow: inset 3px -8px 20px -15px #000;
    cursor: pointer;
    transition: .2s;
    width: 50%;
    float: left;
    text-align: center;
    &:hover {
      background-color: #3f84cd;
      color: #fff;
      box-shadow: inset 2px -8px 11px -15px #000;
      /* height: 67px; */
      /* margin-top: 0px; */
    }

    &.active {
      background-color: #3f84cd;
      color: #fff;
      box-shadow: inset 2px -8px 11px -15px #000;
      /* height: 67px; */
      /* margin-top: 0px; */
    }
  }
}