<div class="supporter-container row" *ngIf="user" (click)="openProfile()">
    <div class="col-xs-3 profile-image"
         *ngIf="profileImage"
         [style.background-image]="path(profileImage)">
    </div>
    <div class="col-xs-9">
        <h5 class="heading-26">{{user.username}}</h5>
        <small *ngIf="user.isInitiator">Initiator</small>
    </div>
</div>