.supporter-container{
  padding: 10px;
  margin: 0;
  cursor: pointer;
  &:hover{
    background-color: rgba(187, 187, 187, 0.21);
  }
}

.profile-image {
  margin-left: 6px;
  background-size: cover;
  background-position: center center;
  height: 50px;
  width: 50px;
  border-radius: 25px;
}

.col-xs-9{
  padding-right: 3px;
}

small{
  font-weight: lighter;
  font-style: italic;
  position: absolute;
  bottom: -3px;
}