<div class="row">
  <div class="col-xs-12">
    <h2>Gemeldete Benutzer</h2>
  </div>
</div>
<div class="row" *ngIf="reportedUsers && reportedUsers.length > 0">
  <div class="col-xs-12">
    <table class="table table-striped">
      <tr>
        <th>ID</th> <th>Gemeldeter benutzer</th> <th>Gemeldeter Kommentar</th> <th>Gemeldet von</th> <th>Wegen</th> <th></th>
      </tr>
      <tr reported-user *ngFor="let report of reportedUsers" [report]="report" (resolved)="resolve($event)"></tr>
    </table>
  </div>
</div>

<div class="row" *ngIf="!reportedUsers || (reportedUsers && reportedUsers.length === 0)">
    <div class="col-xs-12">
        <div class="alert alert-success" role="alert">
            <strong>Alles friedlich!</strong>
            Derzeit sind keine Störenfriede gemeldet.
        </div>
    </div>
</div>