ul {
  li {
    ul{
      li{
        float: left;
        display: list-item;
        padding-left: 0;
        list-style-type: disc;
      }
    }
    font-weight: normal;
    padding: 10px;
    display: block;
    width: 100%;
    .version {
      float: left;
      width: 50%;
      margin-top: 50px;
      border-bottom: 1px solid;
      &:before {
        content: "Versionsummer: "
      }
    }
    .date {
      border-bottom: 1px solid;
      width: 50%;
      margin-top: 50px;
      float: right;
      &:before {
        content: 'Herausgegeben: ';
      }
    }
    .description {
      clear: both;
      width: 100%;
      display: block;
      &:before {
        content: 'Änderungen:';
      }
    }
  }
}