<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <p>
                <b>Hinweis:</b><br>
                Die Versionierung beschreibt den Hergang nach folgendem Muster: <i>Hauptversion.Feature.Bugfix</i>
            </p>
            <p>
                Die Hauptversion ist die oberste Versionsnummer und bleibt vor dem öffentlichen Release auf 0.<br>
                Zum Release wird es die 1. <br>
                Wenn im weiteren Verlauf neue Features hinzukommen, die in Summe eine Erhöhung der Hauptversion fordern,
                so wird dies getan.
            </p>
            <p>
                An zweiter Stelle steht der Zähler für neue Funktionen. Kommt eine neue Funktion hinzu, so wird dieser
                erhöht.
            </p>
            <p>
                Die dritte Stelle steht für behobene Fehler. Wird in 0.1.0 ein Fehler behoben, so lautet die neue
                Version 0.1.1.
                Kommt eine neue Funktion hinzu, wird der Funktionszähler erhöht und die Fehler werden auf 0 zurück
                gesetzt.
                Somit würde aus 0.1.1. z.B. 0.2.0.
            </p>
            <hr>
            <h1>Versionshistorie</h1>
            <ul>
                <li>
                    <div class="version">1.0.0</div>
                    <div class="date">04.01.18</div>
                    <ul class="changes">
                        <li>
                            #320 - On Page Menü im Handbuch ist nutzbar.
                        </li>
                        <li>
                            #318 - Weiterleitung der Support E-Mails.
                        </li>
                        <li>
                            #325 - Dreamfactory wird im GitLab Repository verlinkt.
                        </li>
                        <li>
                            #321 - Handbuch / Hilfe ist im Footer verlinkt.
                        </li>
                        <li>
                            #322 - CMS Seitentitel im Footer anzeigen.
                        </li>
                        <li>
                            #323 - Meldungen von Kommentaren enthalten nun die ID der Initiative. Admins können von der
                            Meldung nun direkt zur Initiative wechseln (in neuem Tab).
                        </li>
                        <li>#324 - Fügt die Textblöcke der Startseite zum CMS hinzu.</li>
                        <li>
                            #327 - Beim Versuch Handlungsfelder oder Ortsgemeinden zu löschen, die in Benutzung sind,
                            erscheint nun eine Fehlermeldung.
                        </li>
                        <li>
                            #326 - Handlungsfelder und Ortsgemeinden sehen für die Admins hübscher aus und können bearbeitet werden.
                        </li>
                        <li>
                            #315 - Avatarauswahl zur Verfügung gestellt.
                        </li>
                        <li>
                            #316 - Initiativen werden in der Historie angezeigt.
                        </li>
                        <li>
                            #317 - Nutzer können nun nach dem Registrieren und im Profil entscheiden, ob sie den Newsletter empfangen möchten.
                            <br>
                            Administratoren können im neuen Menüpunkt "Newsletter" die Liste der Epmfänger einsehen und zur weiteren verarbeitung
                            herunter laden.
                        </li>
                        <li>
                            #329 - Caching hat die Änderung des Zitatbildes verdeckt. Dies passiert nun nicht mehr.
                        </li>
                        <li>
                            #304 - "Gelöschte" initiativen erscheinen nicht weiter im Frontend.
                        </li>
                        <li>
                            #314 - Sondermethode zur Bilderkonvertierung für IE11 hinzugefügt, sodass auch hier Bilder hochgeladen werden können.
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="version">0.8.3</div>
                    <div class="date">19.12.17</div>
                    <ul class="changes">
                        <li>#311 - Erfolgreiche Initiativen werden bei "meine Initiativen" weiter angezeigt.</li>
                        <li>
                            #310 - Informationstexte bei "Meine Initiativen" so angepasst, dass er korrekt lautet,
                            wenn man schon Initiativen angelegt hat, aber aufgrund der Filter keine gefunden werden
                            können.
                        </li>
                        <li>#309 - Einladungen werden nun nicht mehr geschlossen, wenn ein Fehler beim unterstützen
                            geschieht.
                        </li>
                        <li>#308 - Links im Registrierungsformular werden nun im neuen Tab geöffnet.</li>
                        <li>#313 - CMS Seitenwahl im Editor (Admis) funktioniert wieder.</li>
                    </ul>
                </li>
                <li>
                    <div class="version">0.8.2</div>
                    <div class="date">18.12.17</div>
                    <ul class="changes">
                        <!--<li>#291 - Georeferenzierung geht beim bearbeiten verloren.</li>-->
                        <li>#294 - Gallerie ist nun optional.</li>
                        <li>#293 - Avatare in Firefox wieder wählbar.</li>
                        <li>#218 - Erklärungstext für Aktion hinzugefügt und Beschreibung auf Startseite ausgetauscht.
                        </li>
                        <li>#287 - Übersetzung für DateTime Picker.</li>
                        <li>#301 - Loader blieb bei eigenen Initiativen sichtbar, wenn mal zuvor eine hatte und dann
                            nicht mehr.
                        </li>
                        <li>#300 - Eigene, aber beendete Initiativen können nicht mehr bearbeitet werden.</li>
                        <li>#300 - Beendte Initiativen haben nun keinen "Jetzt veröffentlichen" Button mehr.</li>
                        <li>
                            #298 - Paginierung wird in Initiativenlisten nun auch unten angezeigt, wenn mehr als zwei
                            Initiativen angezeigt werden.
                        </li>
                        <li>#297 - Zweifach kommentieren ist nun erlaubt.</li>
                        <li>#302 - Speichern einer neuen Initiative ist nun oben rechts.</li>
                        <li>#296 - FireFox zeigte den Zwang zum neuen Profilbild nach Neuanmeldung nicht an.</li>
                        <li>#299 - Bilder Uploads sind nun mit einer Bremse versehen, sodass sie nicht mehrfach den
                            Upload versuchen.
                        </li>
                        <li>#303 - Administrator kann Initiativen sperren und wieder freigeben.</li>
                    </ul>
                </li>
                <li>
                    <div class="version">0.8.1</div>
                    <div class="date">17.12.17</div>
                    <ul class="changes">
                        <li>#270 - Seitenangabe der Paginierung gestyled.</li>
                        <li>#269 - Epochendatum per Default nicht anzeigen.</li>
                        <li>#243 - Bilderupload in Firefox korrigiert.</li>
                        <li>#273 - Handlungsfelder PopUp im Firefox geht nun.</li>
                        <li>#272 - Lightbox Design flexibler und eindeutiger.</li>
                        <li>#271 - Filter in "Meine Initiativen" hinzugefügt.</li>
                        <li>#274/#214 - Erfolgsgeschichten Tab sowie UI zum beenden oder löschen einer Initiative.</li>
                        <li># - Layer Fix und Animationen im mobile Menü.</li>
                        <li>#126 - Google Maps Logo läuft nicht weiter über den Rand hinaus.</li>
                        <li>#133 - Titelbild Vorlagen.</li>
                    </ul>
                </li>
                <li>
                    <div class="version">0.8.0</div>
                    <div class="date">16.12.17</div>
                    <ul class="changes">
                        <li>#255 - Kontaktmodal scrollable.</li>
                        <li>#240 - Kommentarantworten erscheinen nicht mehr doppelt.</li>
                        <li>
                            #244 - Ist man Administrator einer Initiative und unterstützt sonst keine, so wurden
                            <i>alle</i>
                            Initiativen als von mit unterstützt angezeigt. Dies passiert nun nicht mehr.
                        </li>
                        <li>#263 - Datenbank ID des Kommentars vom "Melden" Button entfernt.</li>
                        <li>#264 - Den "Melden" Button unabhängig vom Textfeld anzeigen.</li>
                        <li>
                            #241 - Antwortet man auf eigenen Kommentar, so erhält man hierzu keine E-Mail mehr. <br>
                            Zudem werden Abonnenten nun auch über Antworten informiert, da diese ja auch neue Kommentare
                            sind.
                        </li>
                        <li>#250 - Initiatoren werden in der Liste der Supporter nun markiert.</li>
                        <li>#253 - Datum zu Initiative hinzugefügt.</li>
                        <li>#251 - Auswahlmöglichkeit für Ortsgemeinden/Handlungsfelder beim bearbeiten hinzugefügt.
                        </li>
                        <li>#266 - Georeferenzierung geht nach Speichern nicht mehr verloren.</li>
                        <li>#265 - Markierung an eigenen Initiativen ragen nicht mehr über das Menü hinaus.</li>
                        <li>#286 - "Meine Inititaiven" werden nun in Tabs sortiert angezeigt.</li>
                    </ul>
                </li>
                <li>
                    <div class="version">0.7.1</div>
                    <div class="date">15.12.17</div>
                    <ul class="changes">
                        <li>#260 - "Spielregeln Button" auf Startseite in Gang gesetzt.</li>
                        <li>#245 - Links in Footer gangbar gemacht (Wurde vom Link zur Startseite verdeckt).</li>
                        <li>#258 - Wiederholte Auflistung eines Nutzers bei den unterstützern der Initiative 105
                            beseitigt.
                        </li>
                        <!--<li>#224 - Benutzernamen der Länge drei erlauben.</li>-->
                        <li>#256 - Video aktualisieren.</li>
                        <li>#209 - Inititiaitiitive.</li>
                        <li>#192 - Open Source Link hinzugefügt.</li>
                        <li>#262 - Logo in Footer auf Lampe reduziert, wenn kleine Auflösung.</li>
                        <li>#222 - PopUp zu Handlungsfeldern unter IE11 angepasst.</li>
                        <li>#247 - Paginierung bei eigenen Initiativen auf Seitengröße 5 setzen.</li>
                        <li>#246 - Ladbildschirm lokal stylen und Logo unterbringen.</li>
                        <li>#252 - Facebook Share Bild wieder anzeigen.</li>
                        <li>
                            #242 - Wird eine Initiative nicht mehr unterstützt, so wird automatisch die Liste der
                            ürbigen supporter wieder angezeigt. Zudem wird der korrekte Eintrag vom UI entfernt.
                        </li>
                        <li>#219 - Textvorlage zur Beschreibung beim Anlegen hinzugefügt.</li>
                    </ul>
                </li>
                <li>
                    <div class="version">0.7.0</div>
                    <div class="date">14.12.17</div>
                    <ul class="changes">
                        <li>#187 - Bei einer neuen Initiativen-Suche im Admin Panel wird stets auf Seinte 1 gestartet.
                        </li>
                        <li>#193 - Eigene Initiativen sind nun durchsuchbar.</li>
                        <li>#232 - Korrektur Einladungs E-Mail.</li>
                        <li>#231 - Korrektur Passwort zurücksetzen E-Mail.</li>
                        <li>#230 - Umleitung zur Startseite nach Speichern einer Initiative nicht reproduzierbar.</li>
                        <li>#229 - Info über die Sichtbarkeit von Name und E-Mail Adresse im Profil und beim
                            registrieren hinzugefügt.
                        </li>
                        <li>#233 - Eigene Initiativen können nun direkt aus "Meine Initiativen" heraus bearbeitet
                            werden.
                        </li>
                        <li>#228 - Labels an Profil bearbeiten.</li>
                        <li>#227 - Tags der Ortsgemeinden haben besseren vertikalen Abstand.</li>
                        <li>#225 - "Jetzt loslegen" startet bei angemeldeten Benutzern eine Initiative.</li>
                        <li>#223 - Fehlermeldung bei Admin hinzufügen menschen-lesbar gemacht.</li>
                        <li>#222 - PopUp der Handlungsfelder - nicht reproduzierbar.</li>
                        <li>#221 - Cursor über Profilbutton "Meine Initiativen" - nicht reproduzierbar.</li>
                        <li>#220 - Profil bearbeiten Button ist auffälliger.</li>
                        <li>#217 - Text im Loader zum speichern einer Aktion wurde angepasst.</li>
                        <li>#216 - Das Megafon für die Aktionen wurde mit Text in einer Tag-Blase untergebracht.</li>
                        <li>#212 - Weiterleitung zu Profil eines anderen Nutzers aus der E-Mail heraus korrigiert.</li>
                        <li>#210 - Rechtschreibfehler "sodass" bei Kontaktaufnahme.</li>
                        <li>#185 - Layout der Passwort zurücksetzten E-Mail angepasst.</li>
                        <li>#207 - Fehlermeldung zu AGBs bei Registireren beseitigt.</li>
                        <li>#236 - Schrittzähler beim Anlegen bricht auf mobilen Endgeräten nicht mehr um.</li>
                        <li>#234 - Logo im Menü bleibt auf mobil an Ort und Stelle.</li>
                        <li>#235 - Logo nun platformübergreifend scharf (@2x).</li>
                        <li>#208 - Bei Seitenwechsel nach oben scrollen.</li>
                        <li>#237 - Nicht veröffentlichte Initiativen anderer Nutzer werden im Profil nicht länger
                            angezeigt.
                        </li>
                        <li>#211 - Beim betrachten des Profils eines anderen wird nicht länger seines als das eigene
                            Profilbild angezeigt.
                        </li>
                        <li>#203 - Emojis werden unterstützt.</li>
                        <li>
                            #179 - Session hat nun folgende Regeln: Sie läuft nach 12 Stunden ohne Aktivität aus. <br>
                            Aktiviert man "Angemeldet bleiben", so kann das Token bis zu 2 Wochen nach der letzten
                            Aktivität
                            erneuert werden. Dies passiert automatisch durch erneute Aktivität. <br>
                            Ist man also regelmäßig online, so bleibt die Session dadurch erhalten. <br>
                            Spätestens nach zwei Wochen inaktivität ist es nötig sich erneut anzumelden.
                        </li>
                        <li>#226 - Neue Benutzer müssen ein Profilbild oder einen Avatar wählen.</li>
                        <li>#238 - Neue Benutzer, ohne Listen eigener bzw. unterstützer Initiativen, sehen nun
                            sachdienliche Hinweise.
                        </li>
                        <li>#239 - E-Mail angepasst, sodass nirgens Vor- und Nachname anderer Nutzer auftauchen.</li>
                    </ul>
                </li>
                <li>
                    <div class="version">0.6.4</div>
                    <div class="date">13.12.17</div>
                    <ul class="changes">
                        <li>
                            #194 - Einladungen eine Initiative zu unterstützen werden im Profil angezeigt. <br>
                            Eine Initiative kann somit auch vom Profil aus unterstütz werden, wobei
                            Benachrichtigungseinstellungen angelegt
                            und die Einladung geschlossen wird. <br>
                            Unterstützt man eine Initiative <i>nicht</i> aus dem Profil heraus, wird die mögliche
                            zugehörige Einladung ebenfalls geschlossen.
                        </li>
                        <li>#208 - Abruf neuer Kommentare wird beim verlassen der Seite beendet.</li>
                        <li>#168 - Austausch des "Aktion" Icons und Korrektur des Textes "Initiative".</li>
                        <li>#183 - E-Mail, dass man selbst der Admin der eigenen, neuen, Initiative ist, wird nicht mehr
                            versandt.
                        </li>
                        <li>#181 - "Administratoren, die nicht unterstützer sind, sollen kommentieren können" - das
                            funktioniert bereits.
                        </li>
                        <li>
                            #204 - Ausgewählte Verbandsgemeinden werden in der Karte automatisch markiert. <br>
                            Es ist zudem nun möglich, die Koordinaten <i>nicht</i> anzugeben. <br>
                            Werden sie angegeben, so ist dies die einzige Markierung in der Karte.
                        </li>
                        <li>#182 - Die Anwendung funktioniert nun auch im IE11 (95%)</li>
                    </ul>
                </li>
                <li>
                    <div class="version">0.6.3</div>
                    <div class="date">12.12.17</div>
                    <ul class="changes">
                        <li>#195 - Die Profile anderer Nuutzer können nun angezeigt werden.</li>
                        <li>#196 - Es ist nun möglich Kontakt zu anderen Nutzern aufzunehmen.</li>
                    </ul>
                </li>
                <li>
                    <div class="version">0.6.2</div>
                    <div class="date">11.12.17</div>
                    <ul class="changes">
                        <li>#168 - Initiativen können nun auch Aktionen sein. Dies wird zunächst über ein rotes Megaphon
                            auf an der Initiative gekennzeichnet.
                        </li>
                        <li>#205 - Klick auf die Handlungsfelder öffnet ein PopUp mit Erklärungen dazu. Der Inhalt ist
                            über das CMS einstellbar.
                        </li>
                        <li>#202 - Es ist nicht mehr möglich die Kommentare beliebig tief zu schachteln.</li>
                        <li>#201 - Korrektur der Facbook Share URL.</li>
                        <li>#203 - Emojis in Kommentaren einfügen.</li>
                        <li>#200 - Vergrößerung der Schriften.</li>
                        <li># - Create Wizard, Enter aktivieren.</li>
                        <li>#197 - Löschen von Viviennes Benachrichtigungseinstellungen. Das E-Mail Bombardement sollte
                            hier nun aufhören, falls nicht bitte bescheid sagen.
                        </li>
                        <li>#189 - Datenschutz und Impressum als CMS Seiten angelegt.</li>
                        <li>#189 - CMS Seiten mit sprechenden URLs ausgestattet. (/impressum anstelle von /2)</li>
                        <li>#199 - Impressum/Datenschutz im Registrierungsformular verlinkt.</li>
                        <li>#190 - Eigene Antworten auf Kommentare erscheinen nun wieder unmittelbar.</li>
                        <li>#191 - Neue Kommentare und neue Antworten von anderen Usern erscheinen nun ebenfalls ohne
                            Neuladen../de
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="version">0.6.1</div>
                    <div class="date">07.12.17</div>
                    <ul class="changes">
                        <li>#186 - Logo in Webanwendung und E-Mails ausgetauscht.</li>
                        <li>#168 - Anlegen einer Initiative wird nun schrittweise durchgeführt.</li>
                        <li>Sortierung der Initiativen umgekehrt.</li>
                        <li>Google Maps Marker ausgetauscht.</li>
                    </ul>
                </li>
                <li>
                    <div class="version">0.6.0</div>
                    <div class="date">06.12.17</div>
                    <ul class="changes">
                        <li>#169 - Benutzername ist nun im Profil editierbar.</li>
                        <li>#164 - Löschen der Benachrichtigungseinstellungen, wenn eine Inititaive nicht mehr
                            unterstütz wird.
                        </li>
                        <li>#155 - Personen können nun auch eingeladen werden, nachdem die Inititaive erstellt wurde.
                        </li>
                        <li>
                            #170 - 2x als Unterstützer angezeigt. <br>
                            Beim unterstützen wird nun zuvor geprüft, ob die Person die Inititaive bereits unterstützt.
                        </li>
                        <li>#174 - Versandte Einladungen werden gespeichert, sodass jemand nicht mehrfach zu einer
                            Initiative eingeladen wird.
                        </li>
                        <li>#176 - Vertreter einer Initiative werden per E-Mail benachrichtigt, wenn sie berechtigt
                            wurden.
                        </li>
                        <li>#175 - Gäste können Initiativen nicht sehen.</li>
                        <li>#58 - Paniginierung der Initiativenliste im Admin Bereich.</li>
                        <li>#180 - Inititaiven in Adminpanel mit Suche versehen.</li>
                        <li>#140 - "Entdecken" mit Suche versehen. Die Kombination aus automatischen Nachladen durch
                            Scrollen und Suche ist in der Gegebenen Zeit nicht umsetzbar.
                        </li>
                        <li>#85 - Initiativen Filter arbeitet ohne Inifiscroll korrekt.</li>
                        <li>#178 - Filter Dropdowns können nur auch über einen Extra Button geschlossen werden.</li>
                        <li>
                            #177 - Den Zusammenhang aus <i>nicht unterstützen</i> und <i>nicht kommentieren können</i>
                            besteht nicht. <br>
                            Hierbei handelte es sich um einen Folgefehler und eine getroffene Annahme.
                        </li>
                        <li>
                            #162 - Nach Registrierung wird nun das Formular gesperrt. <br>
                            Zudem gibt es nun eine Bestätigungsmail im richtigen Format.
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="version">0.5.2</div>
                    <div class="date">30.11.17</div>
                    <ul class="changes">
                        <li>
                            #153 - Benachrichtigungen zu neuen Unterstützern. <br>
                            Zuvor wurde der Empfänger der Nachricht als neuer Unterstützer bezeichnet. Somit war die
                            Meldung immer falsch.
                            Nun wird der Empfänger angesprochen und der Name des Unterstützers ist der richtige. Zudem
                            wurde
                            die E-Mail aufbereitet.
                        </li>
                        <li>
                            #153 - Benachrichtung beim Aktualisieren des Inhalts einer Initiative. <br>
                            Derzeit ist nicht nachvollziehbar, warum das Skript zur Benachrichtigung nicht ausgelöst
                            wird. Andere
                            Nutzer von Dreamfactory erleben das gleiche Phänomen, jedoch konnte ich bisher keine Lösung
                            finden.
                            Ich schalte die Funktion ab, solange es hier keine Lösung gibt.
                        </li>
                        <li>
                            #153 - Benachrichtigung bei neuem Kommentar <br>
                            Die E-Mail mit den Benachrichtigungen über neue Kommentare und Kommentarantworten enthalten
                            nun ebenfalls
                            ordentliche Inhalte und sehen wie E-Mails aus.
                        </li>
                        <!--<li>#169 - Benutzernamen im Konto anzeigen und editierbar machen.</li>-->
                    </ul>
                </li>
                <li>
                    <div class="version">0.5.1</div>
                    <div class="date">29.11.17</div>
                    <ul class="changes">
                        <li>#153 - Benachrichtigungseinstellungen werden nun korrekt gespeichert.</li>
                        <li>#163 - Uploadgröße der Bilder auf 2MB beschränken</li>
                        <li>
                            #106 - Die Sessiondauert beträgt nun eine Stunde. Zudem kann der Nutzer beim anmelden
                            "Angemeldet bleiben"
                            aktiviere. Die Session wird dann nie automatisch beendet.
                            Dies sollte auch #94 (manchmal fast leere Seite) beheben.
                        </li>
                        <li>"Loading" auf Startseite durch "Der Marktplatz wird geladen" ersetzt</li>
                        <li>#116 - Ein deaktivierter Account bleibt deaktiviert.</li>
                        <li>#173 - Rechtscheibfehler "Benutzers"</li>
                        <li>#172 - Vertreter können nun auch beim Anlegen einer Initiative bestimmt werden.</li>
                        <li>#166 - Warnung bei verlassen von "anlegen" oder "bearbeiten" ohne Speichern.</li>
                    </ul>
                </li>

                <li>
                    <div class="version">0.5.0</div>
                    <div class="date">23.11.17</div>
                    <ul class="changes">
                        <li>#100 - Ermöglicht es Avatare, anstelle von Profilbildern auszuwählen</li>
                        <li>#156 - Rechtschreibfehler</li>
                        <li>#158 - Umbennenung Adminvertreter</li>
                        <li>#159 - Übersetzung von Fehlermeldungen</li>
                        <li>#160 - Übersetzung von Fehlermeldungen</li>
                        <li>#161 - Übersetzung von Fehlermeldungen</li>
                        <li>#150 - Umenennung Hintergrundinformationen</li>
                        <li>
                            #157 - Button "Admin hinzufügen" deaktiviert, wenn keine Adresse angegeben wurde. Zudem
                            frei machen des Eingabefeldes nach Hinzufügen, sowie Ausrichtung des Formulars und des
                            Buttons.
                        </li>
                        <li>
                            #138 - Button "Mehr Initiativen zeigen" entfernen. Dieser war nur zum Testen (beim
                            entwickeln) da.
                            Es werden nun jeweils 5 statt nur 2 Initiativen geladen und das nächste Set wird durch
                            herabscrollen
                            automatisch nachgeladen.
                        </li>
                        <li>#139 - Titel wird nicht mehr Unterstrichen</li>
                        <li>Video ausgetauscht</li>
                        <li>#141 - Beschreibungen beim Anlegen einer Initiative (Satzschlusszeichen).</li>
                        <li>#143 - Darstellungsfehler "gestalten" im Willkommenstext.</li>
                        <li>
                            #142 - Meldung "Ihre Initiative wurde angelegt" ist kein Fehler. Hier wurde lediglich eine
                            nicht veröffentlichte Initiative als Demo ausgewählt. Dies sollte man natürlich nicht tun.
                        </li>
                        <li>#148 - Anzeige stets auf den Benutzernamen gestellt.</li>
                        <li>#151 - E-Mails sehen nicht aus wie Spam.</li>
                        <li>#154 - Anzeige der Hinweise "Keine Initiative angelegt" nachdem die Anwendung weiß, dass es
                            wirklich so ist.
                        </li>
                        <li>Hinzufügen eines universell einsetzbaren Ladebildschirms.</li>
                        <li>#145 - Korrektur zum Header war noch nicht veröffentlicht.</li>
                        <li>#144 - Profil bearbeiten (Mobile Ansicht)</li>
                        <li>#147 - OG Name ragt über Rand hinaus - auch teil des letzten Updates.</li>
                    </ul>
                </li>
                <li>
                    <div class="version">0.4.2</div>
                    <div class="date">17.11.17</div>
                    <ul class="changes">
                        <li>#136 - Es können nun auch weniger als drei Bilder zur Initiative hinzugefügt werden.</li>
                    </ul>
                </li>

                <li>
                    <div class="version">0.4.1</div>
                    <div class="date">16.11.17</div>
                    <ul class="changes">
                        <li>#135 - Korrektur Rechtscheibfehler</li>
                        <li>#123 - Einleitungstextboxhöhe dynamisch setzen (Titel wird auf Startseite abgeschnitten)
                        </li>
                        <li>#125 - Überschrift "Initiativen die ich unterstütze" geht nicht mehr über den Rand hinaus
                        </li>
                        <li>#132 - Texteditor Stil "Text" hinzugefügt</li>
                        <li>#110 - Bezeichnungen der Handlungsfelder und Ortsgemeinden eingestellt und Anzeige
                            angepasst
                        </li>
                        <li>#99 - Vor- und Nachname kann im Profil bearbeitet werden</li>
                    </ul>
                </li>

                <li>
                    <div class="version">0.4.0</div>
                    <div class="date">15.11.17</div>
                    <ul class="changes">
                        <li>
                            Generelle Überarbeitung der mobilen Darstellung von:
                            <ul>
                                <li>Initiative betrachten</li>
                                <li>Initiative bearbeiten</li>
                                <li>Initiative erstellen</li>
                                <li>Initiativen entdecken</li>
                            </ul>
                        </li>
                        <li>#115 - "Technischer Bildschirm nach PW Vergabe" und falsche Weiterleitung - nicht
                            reproduzierbar. Caches nicht gelöscht?
                        </li>
                        <li>#114 - Registrierungsmenü auf richtiger Höhe</li>
                        <li>#124 - Button "Ich habe bereits ein Konto" position korrigiert</li>
                        <!--<li>#126 - Karte wird nicht mehr abgeschnitten</li>-->
                        <li>#127 - Werkzeugkasten</li>
                        <!--<li>#122 - Anzeige der Hilfsfelder in "Meine Inititativen"</li>-->
                        <li>#128 - Text des Barbeiten-Buttons</li>
                        <li>#131 - Buttons in "Meine Initiativen" angegelichen</li>
                        <li>#129 - Bilder Upload Buttons in mobiler Ansicht mit Icon versehen</li>
                    </ul>
                </li>

                <li>
                    <div class="version">0.3.2</div>
                    <div class="date">11.11.17</div>
                    <ul class="changes">
                        <li>#109 - direkte Supportverlinkung</li>
                        <li>#111 - Rechtschreibfehler korrigiert</li>
                        <li>#112 - Weitere Fehlermeldungen übersetzt</li>
                        <!--<li>#113 - Lesbarkeit der Buttons in mobiler Darstellung verbessert</li>-->
                    </ul>
                </li>

                <li>
                    <div class="version">0.3.1</div>
                    <div class="date">10.11.17</div>
                    <ul class="changes">
                        <li>
                            #91 - Es wird nun beim anmelden, sowie beim Wiederherstellen der Session das korrekte Profil
                            geladen und somit auch das korrekte Profilbild.
                        </li>
                        <li>
                            #103 - Das geänderte Profilbild ist nun vom Caching ausgenommen und wird direkt nach der
                            Änderung auch angezeigt.
                        </li>
                        <li>#60 - Neutrales Profilbild, falls keines vorhanden ist.</li>
                        <li>#107 - Eigene Initiativen werden nun beim anlegen automatisch unterstützt.</li>
                    </ul>
                </li>

                <li>
                    <div class="version">0.3.0</div>
                    <div class="date">09.11.17</div>
                    <ul class="changes">
                        <li>Leute per E-Mail zur Unterstützung der Initiative einladen.</li>
                        <li>#108 - Vor dem Speichern einer Initiative wird nun überprüft, ob alles angegeben wurde.</li>
                        <li>Beim Hochladen der Initiativendaten (insb. Bilder) erscheint nun ein Lade Bildschirm.</li>
                        <li>#102 - Umkehrung der Navigationspunkte</li>
                        <li>#86 - Verstecken der Code-Pfad Angabe im Texteditor ("p" in Eingabebox)</li>
                    </ul>
                </li>
                <li>
                    <div class="version">0.2.3</div>
                    <div class="date">08.11.17</div>
                    <ul class="changes">
                        <li>#75 - Button Styles wurden angegelichen.</li>
                        <li>#88 - Bilderuploads nehmen nur noch Bilddateitypen an.</li>
                        <li>
                            #78 - Initiative Starten
                            <ul>
                                <li>Verschieben der Karte und der Markierung unabhängig voneinander.</li>
                                <li>Custom Marker erstellt und eingefügt.</li>
                            </ul>
                        </li>
                        <li>"Wilkommen" Text auf Startseite eingefügt.</li>
                    </ul>
                </li>

                <li>
                    <div class="version">0.2.2</div>
                    <div class="date">07.11.17</div>
                    <ul class="changes">
                        <li>#96 - Benachrichtigungseinstellungen werden gesetzt, sobald man die Initiative
                            unterstützt.
                        </li>
                        <li>#93 - Passwort zurücksetzen E-Mail ist nun auf deutsch.</li>
                        <li>#87 - Passwort zurücksetzen ist nun direkt Teil der Anwendung.</li>
                        <li>
                            #82 - Absicherung der Seite -- Das Backend ist nun nur noch über marktplatz-sg.de zu
                            erreichen, das
                            SSL Zertifikat wurde entsprechend aktualisiert. Eine Verbindung über mdz.mind-me.de ist <i>nicht</i>
                            mehr möglich.
                        </li>
                        <li>#92 - Der Nutzer wird beim zurücksetzen des passwortes nun eindeutiger auf das Eintreffen
                            einer E-Mail hingewiesen.
                        </li>
                        <li>#101 - Spracheinstellungen des Texteditors auf deutsch gesetzt.</li>
                        <li>#95 - Mauszeiger beim Abmelden-Button angepasst.</li>
                        <li>#73 - Übersetzungswerkzeug zur Anzeige von deutschen Meldungen geschrieben.</li>
                        <li>#73 - Diverse Übersetzungen hinzugefügt.</li>
                    </ul>
                </li>
                <li>
                    <div class="version">0.2.1</div>
                    <div class="date">03.11.17</div>
                    <ul class="changes">
                        <li>Fix: Switch "Initiative anzeigen" beim Editieren funktioniert wieder.</li>
                    </ul>
                </li>

                <li>
                    <div class="version">0.2.0</div>
                    <div class="date">02.11.17</div>
                    <ul class="changes">
                        <li>#59 - Als Initiator kann ich nun beim bearbeiten meiner Initiative die Bilder mit
                            bearbeiten.
                        </li>
                    </ul>
                </li>

                <li>
                    <div class="version">0.1.1</div>
                    <div class="date">30.10.17</div>
                    <ul class="changes">
                        <li>
                            Laden von "Meine Initiativen" korrigiert, sodass die unterstützten Initiativen auch
                            geladen werden, wenn noch keine eigenen angelegt wurden.
                        </li>
                        <li>
                            Fügt Vor- und Nachnamen zur Registrierung hinzu, sodass diese in der Anwendung auch
                            angezeigt werden können.
                        </li>
                    </ul>
                </li>

                <li>
                    <div class="version">0.1.0</div>
                    <div class="date">29.10.17</div>
                    <ul class="changes">
                        <li>Beginn der Versionierung</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>