<loader [loading]="!notificationSettings" [small]="true"></loader>
<div class="row" *ngIf="notificationSettings">
  <div class="col-xs-12">
    <h5>Abonnements</h5>
    <!--<pre>{{notificationSettings | json}}</pre>-->
    <ul class="list-unstyled">
      <!--<li>-->
        <!--<label>-->
          <!--<ui-switch [(ngModel)]="notificationSettings.content_changes"-->
                     <!--(change)="onNotificationSettingsChanged()">-->

          <!--</ui-switch>-->
          <!--&lt;!&ndash;<input type="checkbox"&ndash;&gt;-->
                 <!--&lt;!&ndash;[(ngModel)]="notificationSettings.content_changes"&ndash;&gt;-->
                 <!--&lt;!&ndash;(change)="onNotificationSettingsChanged()">&ndash;&gt;-->
          <!--<span>Inhaltsänderungen</span>-->
        <!--</label>-->
      <!--</li>-->
      <li>
        <label>
          <ui-switch [(ngModel)]="notificationSettings.new_comments"
                     (change)="onNotificationSettingsChanged()">

          </ui-switch>
          <!--<input type="checkbox"-->
                 <!--[(ngModel)]="notificationSettings.new_comments"-->
                 <!--(change)="onNotificationSettingsChanged()">-->
          <span>Neue Kommentare</span>
        </label>
      </li>
      <li>
        <label>
           <ui-switch [(ngModel)]="notificationSettings.answers_on_comments"
                     (change)="onNotificationSettingsChanged()">

          </ui-switch>
          <!--<input type="checkbox"-->
                 <!--[(ngModel)]="notificationSettings.answers_on_comments"-->
                 <!--(change)="onNotificationSettingsChanged()">-->
          <span>Kommentarantworten</span>
        </label>
      </li>
      <li>
        <label>
           <ui-switch [(ngModel)]="notificationSettings.supporter_joined"
                     (change)="onNotificationSettingsChanged()">

          </ui-switch>
          <!--<input type="checkbox"-->
                 <!--[(ngModel)]="notificationSettings.supporter_joined"-->
                 <!--(change)="onNotificationSettingsChanged()">-->
          <span>Neue Unterstützer</span>
        </label>
      </li>
    </ul>
  </div>
</div>