<div class="row">
    <div class="col-xs-6">
        <div class="close btn-close icofont icofont-close-line-circled"
             *ngIf="showOrtsgemeindenClose"
             (click)="collapse()"></div>
        <hyper-multiselect
                #hms_ogs
                [inbound]="hyperInboundOGs"
                (outbound)="hyperOutboundOG($event)"
                [displayKey]="'name'"
                [emptyTitle]="'Ortsgemeinden'"
                (opened)="opened($event)"
                (closed)="closed($event)"
        ></hyper-multiselect>
    </div>
    <div class="col-xs-6">
        <div class="close btn-close icofont icofont-close-line-circled"
             *ngIf="showHandlunsgfelderClose"
             (click)="collapse()"></div>
        <hyper-multiselect
                #hms_hfs
                [inbound]="hyperInbounHFs"
                (outbound)="hyperOutboundHF($event)"
                [displayKey]="'name'"
                [emptyTitle]="'Handlungsfelder'"
                (opened)="opened($event)"
                (closed)="closed($event)"
        ></hyper-multiselect>
    </div>
</div>