.hyperMSControllerBox{
  display: none!important;
}

hyper-multiselect.hyperMSOptionsBox{
  width: 230px!important;
}


.hyperMSControllerBox, .hyperMSOptionsBox {
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100%;
  border-radius: 20px;
}

.btn-close{
  width: 38px;
  height: 38px;
  position: absolute;
  z-index: 1000;
  top: -18px;
  right: -6px;
  border-radius: 100%;
  cursor: pointer;
  font-size: 38px;
  background-color: #FFF;
  opacity: 1;
  color: #838383;
  transition: 0.2s;
  &:hover{
    background-color: #a4a4a4;
    color: #FFF;
  }
}