/* You can add global styles to this file, and also import other style files */
.hyperMSButton {
  border-radius: 15px;
  background: white;
  padding: 8px;
  /* background-image: linear-gradient(#FFF, #F2F2F2); */
  width: 100%;
  /*border-bottom-left-radius: 0;*/
  /*border-bottom-right-radius: 0;*/
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.3);
  color: #000;
}


.hyperMSButton span.selection:last-child:after{
  font-family: IcoFont;
  content: "\eb25";
  margin-left: 5px;
}

.hyperMSInput {
  border-radius: 4px;
  padding: 8px;
  background: #FFF;
  width: 100%;
}

.hyperMSDropDown {
  position: absolute;
  top: 0;
  left: 13px;
  right: 13px;
  transition: .3s;
  background-color: #FFF;
  z-index: 999;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 15px;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.3);
}

.hyperMSControllerBox, .hyperMSOptionsBox {
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100%;
  border-radius: 15px;
}

.hyperMSControllerBox {
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.3);
}

.hyperMSGroup{
  color: #000;
}

.hyperMSGroup h4 {
  margin-right: 10px;
  min-width: 200px;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #c3c3c3;
}

h4.option {
  margin-bottom: 5px;
}

.hyperMSGroup:first-of-type>h4 {
  margin-top: 0;
}

.option {
  cursor: pointer;
}

.option.selected {
  background-color: #3f84cd;
  color: #fff;
}

.option.listItem {
  display: inline-block;
  margin-right: 10px;
  width: 100%;
  padding: 4px;
  text-align: center;
  border-top: none;
}


/*Utility Classes*/

.hyperMSRight {
  position: absolute;
  margin-left: 10px;
}

.hyperMSLeft {
  float: left;
}