<button (click)="showToggle()" class="hyperMSButton">
  <ng-template ngIf="selectedItems.length > 0">
        <span class="selection" *ngFor="let val of selectedItems; let isLast=last">
                {{val[displayKey]}}
                {{isLast ? '' : ', '}}
        </span>
  </ng-template>
  <span *ngIf="selectedItems.length === 0" class="selection">{{emptyTitle}}</span>
</button>
<div *ngIf="dropDownVisible" class="hyperMSDropDown">
  <!--<div class="hyperMSControllerBox">-->
  <!--<div>-->
  <!--<input type="search" [(ngModel)]="filterVal" (keyup)="onKey()" class="hyperMSInput" placeholder="Filter Options">-->
  <!--</div>-->
  <!--<div>-->
  <!--<button (click)="selectAll();" class="hyperMSButton">Alle</button>-->
  <!--<button (click)="selectNone();" class="hyperMSButton">Keine</button>-->
  <!--</div>-->
  <!--</div>-->
  <div *ngIf="inbound.length > 0" class="hyperMSOptionsBox">
    <div *ngFor="let group of groups" (click)="toggleSelection(group);" class="hyperMSGroup">
      <h4 class="option" [ngClass]="{selected: group.hyperMSSelected}" *ngIf="groups[0].name!=='hyperMSPlaceHolderGroup';">{{group.hyperMSName}}
        <span class="hyperMSRight" *ngIf="group.hyperMSSelected">&#10003;</span>
      </h4>
      <ng-template ngFor let-option [ngForOf]="inboundSelector">
        <div *ngIf="option[groupBy] === group.hyperMSName || groups[0]['displayKey']==='hyperMSPlaceHolderGroup';" (click)="toggleSelection(option, $event);"
             class="option listItem" [ngClass]="{selected: option.hyperMSSelected}">
          {{option[displayKey]}}
          <span class="hyperMSRight" *ngIf="option.hyperMSSelected">&#10003;</span>
        </div>
      </ng-template>
    </div>
  </div>
</div>