<section>

    <a class="mdz-home-icon w-inline-block" uiSref="landing-page"></a>

    <div class="auth">
        <div class="register">
            <h2>Noch keinen Account?</h2>
            <p>
                Um Initiativen zu unterstützen oder anzulegen, kannst du dich unkompliziert
                beim Marktplatz der Ideen registrieren.
            </p>
            <a class="bg-swap button w-button"
               data-ix="swap-to-registration"
               uiSref="register">Registrieren</a>
        </div>
        <div class="login">
            <h2>Anmelden</h2>
            <form action="">

                <input type="text"
                       [(ngModel)]="user.email"
                       name="email"
                       class="text-field-2 w-input"
                       id="email"
                       placeholder="E-Mail Adresse"
                       required="required">

                <input type="password"
                       [(ngModel)]="user.password"
                       name="password"
                       class="text-field-2 w-input"
                       id="password"
                       placeholder="Passwort"
                       required="required">
                <label for="stay">
                    <input type="checkbox" id="stay"
                           name="rememberme"
                           [(ngModel)]="user.remember_me"> Angemeldet bleiben
                </label>
                <input
                        class="anmelden button primary w-button" data-wait="Bitte warten" type="submit"
                        value="Anmelden"
                        (click)="login()"
                >
            </form>
            <a class="button forgot-pw w-button" uiSref="iforgot">Passwort vergessen</a>
            <a class="bg-swap button forgot-pw w-button when-small"
               uiSref="register">Registrieren</a>
        </div>
    </div>
</section>