<section class="container">


    <div class="quote-section" *ngIf="landingPage">
        <div class="container_1">
            <div class="profile-container">
                <div class="profile-icon"
                     [style.background-image]="path(citerImagePath)"
                >
                </div>
            </div>
            <div class="quote-container">
                <h3 class="heading-17">{{landingPage.citer}}</h3>
                <blockquote class="block-quote">{{landingPage.cite}}</blockquote>
            </div>
        </div>
    </div>
</section>