.profile-icon {
  margin-left: 6px;
  background-size: cover;
  background-position: center center;
  height: 80%;
  width: 80%;
  border-radius: 50%;
}

.container_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -ms-flex-direction: row;
  -ms-flex-pack: justify;
  -ms-flex-align: stretch;
  box-shadow: none;
}