<div id="invite" *ngIf="showInvite">
    <div class="box">
        <div class="form">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Du weißt wer diese Initiative unterstützen könnte?</h3>
                    <label for="friends">
                        <p>
                            Lade Freunde, Bekannte oder Nachbarn dazu ein, die Initiative zu unterstützen.<br>
                            Trage hier die E-Mail Adressen deiner Freunde ein. Trenne sie mit einem Komma ab.
                        </p>
                        <textarea class="friends col-xs-12"
                                  id="friends"
                                  placeholder="erster.freund@email.de, zweiter.freund@email.de"
                                  name="friend"
                                  [(ngModel)]="friendsToInvite"
                                  rows="10">
                            </textarea>
                    </label>


                    <label for="message">
                        <p>Personalisiere die Einladungen mit einer Nachricht an deine Freunde:</p>

                        <textarea class="friends col-xs-12"
                                  placeholder="Hallo liebe/r..."
                                  name="message"
                                  id="message"
                                  [(ngModel)]="messageToInviteFriendsWith"
                                  rows="10">
                    </textarea>
                    </label>


                </div>
            </div>
        </div>
        <div class="buttons">
            <button class="button success w-button" (click)="btnSendInvitesPressed()">Absenden</button>
            <button class="button warning w-button" (click)="btnCancelInvitePressed()">Abbrechen</button>
        </div>
    </div>
</div>

<div class="row config-container">

    <div class="col-xs-12">
        <div class="row zero-top">
            <!--SIDEBAR TABS-->
            <div class="tabs-menu w-tab-menu">
                <a class="tab-link w-inline-block w-tab-link" [ngClass]="{'w--current': showSupporter}"
                   data-w-tab="Tab 1" (click)="showSettingsTab(false)">
                    <div class="text-block-6">Unterstützer</div>
                </a>
                <a class="tab-link w-inline-block w-tab-link"
                   [ngClass]="{'w--current': !showSupporter}"
                   data-w-tab="Tab 2"
                   *ngIf="mySupportId && !initiative.closed"
                   (click)="showSettingsTab(true)">
                    <div class="text-block-5">Einstellungen</div>
                </a>
            </div>
            <!--./TABS-->
        </div>

        <!--SUPPORTER LIST-->
        <div class="row" *ngIf="showSupporter">

            <div class="row">
                <div class="col-xs-12 text-center" *ngIf="!mySupportId && !initiative.closed">
                    <button class="button success w-button"
                            (click)="btnSupportPressed()">
                        Unterstützen
                    </button>
                </div>

                <div class="col-xs-12 text-center" *ngIf="initiative.published && !initiative.closed">
                    <button class="button w-button"
                            (click)="btnShowInviteFriendsPopUp()">
                        Freunde einladen
                    </button>
                </div>
            </div>

            <initiative-supporter
                    *ngFor="let supporter of supporters"
                    [isInitiator]="supporter.isInitiator"
                    [user]="supporter"
                    (userInactive)="removeInactiveUserWithId($event)"
            ></initiative-supporter>
        </div>
        <!--./SUPPORTER LIST-->
    </div>


    <div class="col-xs-12" *ngIf="!showSupporter && !initiative.closed">
        <initiative-notification-settings [initiative]="initiative"
                                          *ngIf="mySupportId"></initiative-notification-settings>


        <div class="row">
            <div class="col-xs-12">
                <button class="button warning w-button col-xs-12"
                        *ngIf="mySupportId && !itsMyInitiative"
                        (click)="btnStopSupportPressed(initiative)">
                    Nicht mehr unterstützen
                </button>
            </div>
        </div>

        <div class="row" *ngIf="itsMyInitiative">
            <div class="col-xs-12">
                <button class="button primary w-button col-xs-12"
                        (click)="btnEditPressed()">
                    Bearbeiten
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <button class="button success w-button col-xs-12"
                        *ngIf="itsMyInitiative"
                        (click)="btnEndInitiativePressed(initiative)">
                    {{(initiative.is_event?'Aktion':'Initiative')}} Beenden
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 text-center">
                <button *ngIf="itsMyInitiative"
                        (click)="btnDeletePressed(initiative)">
                    {{(initiative.is_event?'Aktion':'Initiative')}} Löschen
                </button>
            </div>
        </div>


    </div>
</div>