#invite{
  position: fixed;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.4);
  z-index: 100;

  h4{
    margin-top: 20px;
  }
  .box{
    width: 50vw;
    max-height: 90vh;
    height: auto;
    margin-top: 4vh;
    margin-left:auto;
    margin-right:auto;
    display: block;
    background-color: #FFF;
    box-shadow: 0 0 15px -5px #000;
    position: relative;

    .form{
      padding: 15px;
    }
    .buttons{
      padding: 10px;
      height: 80px;
    }
  }
}

.sidebar{
  border: 1px solid;
  //height: 100vh;
  background-color: #bfb377;

}

.supporter{
  display: block;
  content: 'Supporter';
  border-bottom: 1px solid;
  padding-top: 10px;
  padding-bottom: 10px;

  &:before{
    content:'';
    background-image: url('/assets/images/user.jpg');
  }
}

.config-container{
  width: auto;
  margin-left: -15px;
  margin-right: -15px;
}

.zero-top{
  margin-top: 0;
}

.w-tab-link{
  padding-left: 0;
  padding-right: 0;
}

.row{
  margin-bottom: 30px;
}

.supporter-container{
  .row{
    margin-left: 10px;
    margin-right: 10px;
  }
}