<div class="container" *ngIf="cmsPage">
    <div class="row">
        <div class="col-xs-12 cms-content">
            <div [innerHTML]="okHtml(cmsPage.getContent())"></div>
        </div>
    </div>
</div>