<div class="initiative-container w-container"
     [ngClass]="{'tiny': tiny}"
     (click)="openInitiative()"
     *ngIf="initiative"
>
    <div class="blocked" *ngIf="initiative.blocked">
        Diese Initiative wurde gesperrt.
    </div>

    <div class="edit-button" *ngIf="dashboard && !initiative.closed && initiative.iAmAnOwner && !initiative.blocked">
        <button class="button button-w primary" (click)="editInitiative()">
            <i class="icofont icofont-ui-edit"></i> Bearbeiten
        </button>
    </div>
    <div class="" *ngIf="!tiny">
        <div class="status status-public" *ngIf="dashboard && initiative.iAmAnOwner && initiative.published">
            Veröffentlicht
        </div>
        <div class="status status-hidden" *ngIf="dashboard && initiative.iAmAnOwner && !initiative.published">Nicht
            veröffentlicht
        </div>
        <div class="status status-ended" *ngIf="dashboard && initiative.iAmAnOwner && initiative.closed && !initiative.successfull">Beendet</div>
        <div class="status status-public" *ngIf="dashboard && initiative.iAmAnOwner && initiative.closed && initiative.successfull">Erfolgreich</div>
    </div>
    <div class="event-icon pull-right"
         [ngClass]="{'has-date': dateIsValid, 'snug-to-top': !stateIsMyInitiatives() }"
         *ngIf="initiative.is_event">Aktion</div>

    <div class="date-icon pull-right"
         [ngClass]="{'snug-to-top': !stateIsMyInitiatives() }"
         *ngIf="dateIsValid">
        {{initiative.date | dfnsFormat : 'DD.MM.YYYY'}}
        <span *ngIf="timeIsValid"> &thinsp;um&thinsp;{{initiative.date | dfnsFormat : 'H:mm'}} </span>
    </div>

    <div class="initiative-content">
        <h2 [ngClass]="{'tiny': tiny }">{{initiative.title}}</h2>
        <div [innerHTML]="okHtml(initiative.description)" *ngIf="!tiny"></div>
        <initiative-tags [tags]="initiative.getOrtsgemeinden()" [round]="true" *ngIf="!tiny"></initiative-tags>
        <initiative-tags [tags]="initiative.getHandlungsfelder()" *ngIf="!tiny"></initiative-tags>
    </div>
    <div class="initiative-image" *ngIf="!tiny && !admin" [style.background-image]="okCss(getHeroPath())"></div>

    <div class="admin-menu" *ngIf="admin">
        <div class="row">
            <div class="col-xs-12">
                <button
                        *ngIf="!initiative.isDemo"
                        class="button button-w success"
                        (click)="markAsDemo(true)">
                    Als Demo nutzen
                </button>

                <button
                        *ngIf="initiative.isDemo"
                        class="button button-w warning"
                        (click)="markAsDemo(false)">
                    Nicht mehr als Demo nutzen
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button
                        *ngIf="!initiative.blocked"
                        class="button button-w warning"
                        (click)="block(true)">
                    Initiative sperren
                </button>

                <button
                        *ngIf="initiative.blocked"
                        class="button button-w info"
                        (click)="block(false)">
                    Initiative entsperren
                </button>
            </div>
        </div>
    </div>
</div>