.edit-button {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.blocked{
  position: absolute;
  background-color: rgba(140, 12, 12, 0.68);
  width: 100%;
  height: 100%;
  padding-top: 100px;
  text-align: center;
  display: block;
  font-size: 3em;
  color: #fff;
}

.status {
  position: absolute;
  z-index: 10;
  right: -238px;
  top: -68px;
  color: #fff;
  padding: 10px;
  -webkit-transform: rotate(8deg);
  transform: rotate(8deg);
  text-align: center;
  width: 600px;
  height: 100px;
  line-height: 156px;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.45);
  border-radius: 100%;
}

.status-public {
  background-color: #6cc748;
}

.status-hidden {
  background-color: #f9bd1e;
  color: #000;
}

.status-ended {
  background-color: #3e85cd;
}

.admin-menu {
  position: absolute;
  right: 30px;
  bottom: 20px;
  .row{
    margin: 0;
  }
}

.initiative-image {
  background-size: cover;
  background-position: center center;
}

.initiative-container {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  &.tiny {
    margin-top: 3px;
  }
  &:hover {
    background-color: rgba(128, 128, 128, 0.05);
  }
}

.event-icon,
.date-icon {
  position: absolute;
  top: 50px;
  right: 10px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 30px;

  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #3f84cd;
  border-radius: 15px;
  background-color: #fff;
  color: #3f84cd;
  cursor: pointer;

  &.has-date {
    top: 90px;
  }

  &.snug-to-top {
    top: 10px;
    &.has-date {
      top: 50px;
    }
  }
}

.date-icon {
  color: #bf1c2d;
  border-color: #bf1c2d;
}

h2.tiny {
  font-size: 16pt;
}