<div class="container">

    <div class="row">
        <div class="col-xs-12">
            <h1>Benutzer administration</h1>
            <p>{{userCount}} Benutzer sind registriert.</p>
        </div>
    </div>
    <admin-reported-users></admin-reported-users>

    <hr>


    <div class="row">
        <div class="col-xs-12">
            <h2>Benutzer suchen</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">
            <ul class="list-unstyled list-inline">
                <li *ngIf="prevAvaliable">
                    <button class="btn btn-primary" (click)="previous()">Zurück</button>
                </li>

                <li *ngFor="let page of pages">
                    <button class="btn btn-primary" (click)="gotoPage(page)">{{page + 1}}</button>
                </li>

                <li *ngIf="nextAvaliable">
                    <button class="btn btn-primary" (click)="next()">Vor</button>
                </li>

                <!--<li>-->
                    <!--<label for="limit">-->
                        <!--<span>Pro Seite:</span>-->
                        <!--<input type="text" id="limit" [(ngModel)]="limit" (change)="getAllUsers()">-->
                    <!--</label>-->
                <!--</li>-->
            </ul>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">
            <form action="" (submit)="getAllUsers()">
                <input (keyup)="listWhenEmpty($event)"
                       [(ngModel)]="searchPhrase"
                       type="text"
                       placeholder="Benutzername"
                       name="searchPhrase">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <user-card *ngFor="let user of users" [user]="user"></user-card>
        </div>
    </div>
</div>