<div class="container" *ngIf="landingPage">

    <div class="row">
        <div class="col-md-6">

            <h2>Wilkommenstext</h2>
            <label for="welc-title">
                Titel:
                <input type="text" id="welc-title" class="col-xs-12" [(ngModel)]="landingPage.welcomeTitle">
            </label>
            <label for="welcome-text">
                Text:
                <textarea name="welcome-text" id="welcome-text" cols="30" rows="10" class="col-xs-12"
                          [(ngModel)]="landingPage.welcomeText"></textarea>
            </label>
        </div>
        <div class="col-md-6">
            <h2>Beschreibung</h2>
            <label for="desc-title">
                Titel:
                <input type="text" id="desc-title" class="col-xs-12" [(ngModel)]="landingPage.descriptionTitle">
            </label>
            <label for="description-text">
                Text:
                <textarea name="welcome-text" id="description-text" cols="30" rows="10" class="col-xs-12"
                          [(ngModel)]="landingPage.descriptionText"></textarea>
            </label>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h2>Zitat</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">

            <image-upload
                    #citerImage
                    [autoUpload]="true"
                    [successMessage]="'Das Zitatbild wurde geändert.'"
                    [uploadTarget]="'/files/landingpage/'"
                    [fileName]="'citer'"
                    [imgUrl]="citerImageUrl"
            ></image-upload>

        </div>
        <div class="col-xs-8">
            <label for="citer">
                <span>Name:</span>
                <input type="text" id="citer" class="col-xs-12" [(ngModel)]="landingPage.citer">
            </label>

            <label for="cite">
                <span>Zitat:</span>
                <textarea id="cite" name="cite" id="cite" class="col-xs-12" cols="30" rows="10"
                          [(ngModel)]="landingPage.cite"></textarea>
            </label>

            <button class="btn btn-primary" (click)="save()">Speichern</button>
        </div>
    </div>
</div>