img {
  //box-shadow: 0 0 13px -5px black;
  width: 100%;
}

.row {
  margin-top: 0;
  margin-left: -30px;
  margin-right: -30px;
}

.gal1,
.gal2,
.gal3 {
  display: block;
  width: 100%;
  height: 150px;
  background-position: center center;
  background-size: cover;
  background-color: #fff;
}

.lightbox {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  z-index: 30;

  .inner {
    background-color: #fff;
    /* width: 80vw; */
    position: absolute;
    top: 0;
    /* bottom: 0; */
    left: 10vw;
    right: 10vw;
    /* height: 100vh; */
    max-height: 100vh;
    overflow: auto;
    vertical-align: middle;
  }

  .btn-close {
    position: fixed;
    right: 10vw;
    font-size: 50px;
    top: 0;
    cursor: pointer;
    border-radius: 100%;
    background-color: #fff;
    margin-top: 10px;
    margin-right: 10px;
    &:hover {
      color: #fff;
      background-color: #777;
    }
  }

  img {
    width: 100%;
    height: auto;
    border: 5px solid #FFF;
    max-width: 100%;
  }
}

.btn-next,
.btn-prev{
  position: fixed;
  right: 0;
  top: 0;
  width: 10vw;
  color: #fff;
  font-size: 10vw;
  background-color: rgba(255, 255, 255, 0.4);
  height: 100vh;
  line-height: 90vh;
  text-align: center;
  transition: .2s;
  box-shadow: 0 0 20px 0 #000;
  cursor: pointer;
  &:hover{
    background-color: rgba(255,255,255,0.8);
    font-size: 12vw;
  }
}

.btn-prev{
  right:auto;
  left: 0;
}
//}