<div class="lightbox" *ngIf="lightboxImageUrl" (click)="close($event)">
    <div class="inner">

        <img [src]="lightboxImageUrl"
             alt="">
        <i class="btn-prev icofont icofont-caret-left" (click)="prev()"
           *ngIf="currentIndex > 0"></i>
        <i class="btn-next icofont icofont-caret-right" (click)="next()"
           *ngIf="currentIndex < initiative.getImages().length-1"></i>
        <i class="btn-close icofont icofont-close-line-circled" (click)="close()"></i>
    </div>
</div>

<div class="row" *ngIf="initiative.images">
    <div class="col-xs-4" *ngFor="let image of initiative.images; let i =  index">
        <div class="gal1" [style.background-image]="path(image.path)" (click)="open(i)">
        </div>
    </div>
</div>