<div class="row" *ngIf="user">
  <div class="col-xs-4">
    <img src="assets/images/user.jpg" alt="{{user.first_name}} {{user.last_name}}" class="img-responsive">
  </div>
  <div class="col-xs-8">
    <div class="row">
      <div class="col-xs-4">Id:</div>
      <div class="col-xs-8">{{user.id}}</div>
    </div>
    <div class="row">
      <div class="col-xs-4">Email:</div>
      <div class="col-xs-8">{{user.email}}</div>
    </div>
    <div class="row">
      <div class="col-xs-4">Name:</div>
      <div class="col-xs-8">{{user.first_name}} {{user.last_name}}</div>
    </div>
    <div class="row">
      <div class="col-xs-4">Zuletzt angemeldet:</div>
      <div class="col-xs-8">{{user.last_login_date}}</div>
    </div>
  </div>
</div>