<a class="nav-link w-nav-link" uiSref="create" uiSrefActive="w--current" (click)="navigated()">Initiative starten</a>
<a class="nav-link w-nav-link" uiSref="my-initiatives" uiSrefActive="w--current" (click)="navigated()">Meine Initiativen</a>
<a class="nav-link w-nav-link" uiSref="initiatives" uiSrefActive="w--current" (click)="navigated()">Entdecken</a>

<app-logout (click)="navigated()"></app-logout>

<a class="profile-image nav-link w-nav-link" (click)="navigated()"
   uiSref="profile"
   [style.background-image]="path(userImageUrl)"
></a>
