a.profile-image {
  overflow: hidden;
  width: 40px;
  height: 40px;
  padding: 0;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  //margin-right: 15px;
  background-size: cover;
  background-position: center center;
  margin: 5px auto;
  border: 1px solid rgba(0, 0, 0, 0.14);
  img.profile-image {
    height: 100%;
    width: auto;
  }
}