input[type=text]{
  padding: 10px;
  border-radius: 15px;
  border: 1px solid;
  width: 100%;
  margin-top: 15px;
}

.pages{
  display: inline-block;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.3);;
  padding: 12px;
  border-radius: 15px;
  margin: 0 auto;
  background-color: #fff;
}