<loader [loading]="loading"></loader>

<div class="h1-container w-container">
    <div class="row">
        <div class="col-xs-12">
            <initiative-filters (filterChanged)="onFilterChanged($event)"></initiative-filters>
        </div>
    </div>
</div>

<!--PAGINATION-->
<div class="w-container">
    <div class="row">
        <div class="col-md-8 search">
            <input type="text" class="col-xs-12" placeholder="Suche..." [(ngModel)]="searchString"
                   (keyup)="onKeyUp($event)">
        </div>
        <div class="col-md-4">
            <div class="pull-right text-right">
                <div class="pages">{{pagination.page}} von {{pagination.pages}}</div>
                <button class="button w-button" (click)="pagination.previous()"><i class="icofont icofont-simple-left"></i></button>
                <button class="button w-button" (click)="pagination.next()"><i class="icofont icofont-simple-right"></i></button>
            </div>
        </div>
    </div>
</div>

<app-single-initiative
        *ngFor="let initiative of initiatives"
        [initiative]="initiative"
        [dashboard]="true"
></app-single-initiative>

<!--PAGINATION-->
<div class="w-container" *ngIf="initiatives && initiatives.length > 2">
    <div class="row">
        <div class="col-md-8 search">
            <!--<input type="text" class="col-xs-12" placeholder="Suche..." [(ngModel)]="searchString"-->
                   <!--(keyup)="onKeyUp($event)">-->
        </div>
        <div class="col-md-4">
            <div class="pull-right text-right">
                <div class="pages">{{pagination.page}} von {{pagination.pages}}</div>
                <button class="button w-button" (click)="pagination.previous()"><i class="icofont icofont-simple-left"></i></button>
                <button class="button w-button" (click)="pagination.next()"><i class="icofont icofont-simple-right"></i></button>
            </div>
        </div>
    </div>
</div>

<!--HINT that the user has no own initiatives-->
<div class="" *ngIf="initiatives.length === 0">
    <div *ngIf="!supportedInitiatives">
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-info">
                    <h3 *ngIf="initiatives.length === 0 && (filterIsSet || searchString)">Passe deine Sucheinstellungen an.</h3>
                    <h3 *ngIf="!filterIsSet && !searchString">Du hast noch keine Initiative angelegt.</h3>
                    <p *ngIf="initiatives.length === 0 && filterIsSet">
                        Unter den vor Dir angelegten Initiativen und Aktionen, ist leider keine dabei, die den Sucheinstellungen entspricht.
                    </p>
                    <p>Bereichere deine Ortsgemeinde, indem du eigene Initiativen oder Aktionen startest.</p>
                    <a class="button success w-button" uiSref="create">Initiative starten</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
            </div>
        </div>
    </div>
    <div *ngIf="supportedInitiatives">
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-warning">
                    <h3 *ngIf="initiatives.length === 0 && (filterIsSet || searchString)">Passe deine Sucheinstellungen an.</h3>
                    <h3 *ngIf="!filterIsSet && !searchString">Du hast noch keine Initiative unterstützt.</h3>
                    <p *ngIf="initiatives.length === 0 && filterIsSet">Es gibt keine Initiativen oder Aktionen, die zu deiner Suche passen und die du bereits unterstützt.</p>
                    <p>Gehe auf Entdeckungsreise und finde Initiativen oder Aktionen, die du unterstützen möchtest.</p>
                    <a class="button success w-button" uiSref="initiatives">Initiativen entdecken</a>
                </div>
            </div>
        </div>
    </div>
</div>