body {
  font-family: serenity, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 20px;
  background-color: #efefef;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 400;
  text-align: left;
  letter-spacing: 1px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: 1px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 1px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 1px;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
}

a {
  margin-bottom: 0px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #000;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: none;
}

a:hover {
  color: #000;
  text-decoration: none;
}

ul {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 25px;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1px;
  //text-transform: uppercase;
}

li {
  font-weight: 700;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: none;
}

blockquote {
  margin-bottom: 10px;
  padding: 10px 20px;
  border-left: 5px solid #97a9d1;
  color: rgba(30, 42, 49, .5);
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

blockquote:hover {
  border-left-color: #c4a767;
}

.body {
  background-color: #efefef;
  font-family: serenity, sans-serif;
  color: #000;
}

.container {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 10px 30px;
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .2);
}

.container.forms {
  padding-top: 30px;
}

.container.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container.button-container {
  padding-bottom: 35px;
}

.description {
  width: 50%;
  margin-bottom: 30px;
  border-top: 1px solid #295481;
  opacity: 0.3;
  color: #295481;
  font-weight: 700;
  text-transform: uppercase;
}

.row {
  margin-top: 30px;
}

.container-transparent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.color-swatch {
  height: 100px;
  margin-bottom: 10px;
}

.color-swatch.color1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #295481;
}

.color-swatch.color1:hover {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.color-swatch.color2 {
  background-color: #3f84cd;
}

.color-swatch.color3 {
  background-color: #4ea4ff;
}

.color-swatch.color4 {
  background-color: #891824;
}

.color-swatch.color5 {
  background-color: #bf1c2d;
}

.color-swatch.color6 {
  background-color: #e55e6c;
}

.color-swatch.color7 {
  background-color: #c4951d;
  color: #000;
}

.color-swatch.color8 {
  background-color: #f9bc1f;
}

.color-swatch.color19 {
  border: 1px none #000;
  background-color: #eee;
}

.color-swatch.color10 {
  background-color: #4c8833;
}

.color-swatch.color11 {
  background-color: #6dc848;
}

.color-swatch.color12 {
  border: 1px none #000;
  background-color: #8ede6e;
}

.color-swatch.color13 {
  background-color: #000;
  color: #000;
}

.color-swatch.color14 {
  background-color: #454545;
}

.color-swatch.color17 {
  background-color: #bbb;
  color: #000;
}

.color-swatch.color18 {
  background-color: #ddd;
}

.color-swatch.color20 {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, .46);
  background-color: #fff;
}

.color-swatch.color15 {
  border: 1px none #000;
  background-color: #777;
}

.color-swatch.color16 {
  border: 1px none #000;
  background-color: #888;
}

.color-swatch.color9 {
  border: 1px none #000;
  background-color: #f5d071;
}

.row-2 {
  margin-top: 30px;
}

.button {
  margin-top: 15px;
  padding: 12px 25px;
  border: 1px none #295481;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .3);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.button:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.button.default {
  background-color: #efefef;
}

.button.primary {
  position: relative;
  float: left;
  background-color: #3f84cd;
  color: #fff;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button.primary.right {
  float: right;
}

.button.primary.anmelden {
  margin-top: 15px;
  float: right;
}

.button.primary.registrieren {
  display: block;
  margin-top: 0px;
  float: left;
}

.button.primary.participate-now {
  margin-top: 0px;
}

.button.primary.nav {
  margin-top: 0px;
  margin-right: 10px;
}

.button.success {
  background-color: #6dc848;
  text-align: center;
}

.button.success:hover {
  color: #000;
}

.button.info {
  background-color: #f9bc1f;
}

.button.info:hover {
  color: #000;
}

.button.warning {
  background-color: #bf1c2d;
  color: #fff;
}

.button.warning.signout {
  margin-top: 0px;
  margin-right: 15px;
  margin-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 8px;
  background-color: #bf1c2d;
  color: #fff;
  font-weight: 500;
}

.button.warning.lschen {
  margin-left: 30px;
}

.button.basic {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.button.forgot-pw {
  margin-top: 15px;
  opacity: 0.5;
}

.text-field {
  margin-bottom: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(30, 42, 49, .2);
  border-radius: 20px;
  background-color: #efefef;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
}

.select-field {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(30, 42, 49, .2);
  border-radius: 0px;
  background-image: -webkit-linear-gradient(270deg, #efefef, #efefef);
  background-image: linear-gradient(180deg, #efefef, #efefef);
  color: rgba(30, 42, 49, .5);
  letter-spacing: 1px;
}

.row-3 {
  margin-bottom: 10px;
}

.button_box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 30px 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.field-label {
  margin-bottom: 0px;
  margin-left: 15px;
  font-weight: 300;
}

.field-label-2 {
  margin-top: 20px;
}

.field-label-3 {
  margin-top: 20px;
}

.tabs_content {
  padding: 0px 30px 10px;
  background-color: #efefef;
}

.tablink {
  width: 100%;
  background-image: -webkit-linear-gradient(270deg, #e2e2e2, #e2e2e2);
  background-image: linear-gradient(180deg, #e2e2e2, #e2e2e2);
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  text-align: center;
  text-transform: uppercase;
}

.tablink:hover {
  background-image: -webkit-linear-gradient(270deg, rgba(35, 61, 118, .1), rgba(35, 61, 118, .1));
  background-image: linear-gradient(180deg, rgba(35, 61, 118, .1), rgba(35, 61, 118, .1));
  color: #295481;
}

.tablink.w--current {
  background-image: -webkit-linear-gradient(270deg, #3f84cd, #3f84cd);
  background-image: linear-gradient(180deg, #3f84cd, #3f84cd);
  color: #fff;
}

.tabs-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.tabs {
  margin-top: 30px;
  margin-bottom: 30px;
}

.schriftstil_extralight {
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 45px;
  font-weight: 300;
  letter-spacing: 3px;
}

.heading {
  font-size: 64px;
}

.extralight_italic {
  font-style: italic;
}

.light {
  font-weight: 300;
}

.light_italic {
  font-style: italic;
  font-weight: 300;
}

.medium {
  font-style: normal;
  font-weight: 500;
}

.medium_italic {
  font-style: italic;
  font-weight: 500;
}

.bold {
  font-style: normal;
  font-weight: 700;
}

.bold_italic {
  font-style: italic;
  font-weight: 700;
}

.black {
  font-style: normal;
  font-weight: 900;
}

.black_italic {
  font-style: italic;
  font-weight: 900;
}

.section-2 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-linear-gradient(323deg, #891824, #e55e6c);
  background-image: linear-gradient(127deg, #891824, #e55e6c);
  box-shadow: 1px 1px 3px 0 #000;
}

.section-2.design_header {
  background-image: -webkit-radial-gradient(circle farthest-corner at 50% 50%, #3f84cd, #295481);
  background-image: radial-gradient(circle farthest-corner at 50% 50%, #3f84cd, #295481);
  color: #fff;
}

.heading-2 {
  position: relative;
  z-index: 1;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 120px;
  line-height: 120px;
  text-align: center;
}

.paragraph-5 {
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
}

.image {
  position: absolute;
  top: -315px;
  display: block;
  width: 25vh;
  opacity: 1;
}

.container-2 {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.heading-3 {
  position: relative;
  z-index: 1;
  margin-bottom: 0px;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  color: rgba(0, 0, 0, .5);
  font-size: 20px;
  letter-spacing: 5px;
}

.image-2 {
  padding: 15px;
}

.section-footer {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  box-shadow: 1px 1px 3px 0 #000;
}

.heading-5 {
  margin-top: 10px;
  margin-bottom: 15px;
  color: #fff;
  text-align: left;
}

.bottom_description {
  position: relative;
  z-index: 1;
  width: 700px;
  margin-bottom: 30px;
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  text-align: left;
}

.footer_subtitle {
  position: relative;
  z-index: 1;
  margin-bottom: 0px;
  color: #fff;
}

.fvo__logo {
  position: fixed;
  left: 30px;
  top: 30px;
  z-index: 5;
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .2);
}

.utility-page-content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: center;
}

.utility-page-form {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.body-2 {
  background-color: #fff;
}

._404_text {
  font-family: Lato, sans-serif;
  line-height: 48px;
  font-weight: 300;
}

.image-11 {
  position: static;
  top: -300px;
  width: 250px;
  margin-bottom: 50px;
}

.password_icon {
  display: block;
  max-width: 130px;
  margin-right: auto;
  margin-left: auto;
}

.navbar {
  position: absolute;
  width: 100%;
  height: 70px;
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .3);
}

.navbar_container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.navbar_logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar_logo.w--current {
  position: static;
}

.navbar_menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar_item.w--current {
  color: #000;
}

.navbar_item.button.primary {
  margin-top: 0px;
  margin-right: 10px;
}

.image-12 {
  margin: 10px;
}

.heading-16 {
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 25px;
}

.heading-16.footer {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.heading-16.footer-logo {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.hero-section {
  height: 100vh;
  margin-top: auto;
  padding-top: 70px;
  background-image: -webkit-radial-gradient(circle farthest-corner at 50% 50%, #3f84cd, #285f99);
  background-image: radial-gradient(circle farthest-corner at 50% 50%, #3f84cd, #285f99);
}

.hero-section.datenschutz {
  background-color: #3f84cd;
  color: #fff;
}

.hero-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-right: 11px;
  padding-left: 11px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero_content-wrapper {
  margin-bottom: 0px;
  color: #fff;
}

.hero_subtitle {
  font-size: 22px;
  line-height: 33px;
  font-weight: 300;
}

.container_1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .3);
}

.container_1.vertical {
  padding-top: 10px;
  padding-bottom: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container_1.participate-now {
  padding-top: 30px;
  padding-bottom: 30px;
}

.container_1.explanation {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.content-wrapper_50 {
  width: 50%;
  height: 100%;
}

.content-wrapper_50.text {
  width: 100%;
  padding: 10px 30px 15px;
}

.paragraph-9 {
  line-height: 24px;
}

.participate-section {
  margin-top: 10px;
}

.process-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.process-step-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.process-step-number-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100%;
  background-color: #3f84cd;
  color: #fff;
  font-size: 84px;
}

.featured-initiative_section {
  height: 100vh;
  margin-top: 30px;
}

.featured-initiative_header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  padding-top: 20px;
  padding-bottom: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .3);
}

.featured-initiativen_heading {
  text-align: center;
}

.featured-initiative_body {
  height: 90vh;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .3);
  color: #fff;
}

.collection-list-wrapper {
  height: 90vh;
}

.collection-list-2 {
  height: 90vh;
}

.collection-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 45vh;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../assets/images/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
  text-align: center;
}

.collection-item:hover {
  background-image: url('../assets/images/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
}

.featured-inititative_paragraph {
  width: 350px;
  opacity: 0;
  line-height: 24px;
}

.collection-item_overlay {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 45vh;
  padding: 20px 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: left;
}

.collection-item_overlay:hover {
  background-image: -webkit-radial-gradient(circle farthest-corner at 50% 50%, rgba(0, 0, 0, .3), rgba(0, 0, 0, .75));
  background-image: radial-gradient(circle farthest-corner at 50% 50%, rgba(0, 0, 0, .3), rgba(0, 0, 0, .75));
}

.initiative-heading {
  opacity: 0;
}

.featured-initiative_footer {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 50px;
}

.profile-icon {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-image: url('../assets/images/girl_1.svg'), -webkit-linear-gradient(270deg, #bbb, #bbb);
  background-image: url('../assets/images/girl_1.svg'), linear-gradient(180deg, #bbb, #bbb);
  background-position: 0px 0px, 0px 0px;
  background-size: cover, auto;
}

.footer-section {
  position: static;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 80px;
  margin-top: 30px;
  border-top: 10px solid #3f84cd;
  background-color: #fff;
}

.footer-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  min-width: 50px;
  margin: 10px 30px 10px 10px;
  float: right;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-link {
  margin-left: 30px;
  color: rgba(0, 0, 0, .5);
}

.footer-link:hover {
  color: #3f84cd;
}

.navbar-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar-footer.w--current {
  position: static;
}

.content-video {
  width: 50%;
  height: 100%;
}

.profile-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 250px;
  min-width: 250px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.quote-container {
  width: auto;
  height: auto;
}

.image-13 {
  width: 30%;
}

.auth-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-radial-gradient(circle farthest-corner at 50% 50%, #3f84cd 26%, #0058b6);
  background-image: radial-gradient(circle farthest-corner at 50% 50%, #3f84cd 26%, #0058b6);
}

.auth-content-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1170px;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.auth-background-container {
  position: relative;
  height: 400px;
  background-color: #295481;
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, .3);
}

.auth_form-container {
  position: absolute;
  top: -50px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 535px;
  height: 500px;
  margin-top: 0px;
  margin-right: 50px;
  margin-left: 50px;
  padding: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, .3);
}

.heading-18 {
  margin-top: 15px;
  margin-bottom: 70px;
  color: #3f84cd;
  font-size: 34px;
  font-weight: 500;
}

.heading-18.registrieren {
  margin-bottom: 40px;
}

.heading-18._404 {
  margin-bottom: 30px;
}

.text-field-2 {
  margin-bottom: 30px;
  padding-left: 0px;
  border-style: none none solid;
  border-bottom-width: 1px;
  border-bottom-color: #777;
  background-color: transparent;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
}

.background-content-wrapper {
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  padding: 50px 80px;
  float: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: hsla(0, 0%, 100%, .8);
}

.no-account-yet {
  position: absolute;
  display: block;
  width: 425px;
}

.allready-an-account {
  position: static;
  display: none;
  width: 425px;
  opacity: 0;
}

.anmelden {
  display: block;
}

.registrieren {
  display: none;
  opacity: 0.61;
}

.heading-19 {
  font-weight: 300;
}

.continue-button {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 100%;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.continue-button:hover {
  border-color: #fff;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.caret {
  position: absolute;
  width: 20px;
  height: 1px;
  background-color: #454545;
}

.caret.left {
  position: relative;
  width: 20px;
  height: 20px;
  margin-top: -6px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 200px;
  min-width: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100%;
  background-color: #fff;
}

.passwort-icon-wrapper {
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  padding: 50px 80px;
  float: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: hsla(0, 0%, 100%, .8);
}

.error-message {
  position: fixed;
  top: 20px;
  right: 20px;
  height: 50px;
  margin-top: 0px;
  padding: 15px 20px;
  background-color: #e55e6c;
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, .3);
  color: #000;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
}

.alert-left {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 5px;
  height: 100%;
  background-color: #891824;
}

.image-14 {
  margin-top: 11px;
  margin-bottom: 11px;
}

.text-block-2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.image-15 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.text-block-3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mdz-home-icon {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  overflow: hidden;
  width: 50px;
  height: 50px;
  margin: 10px;
  padding: 0px;
  border-radius: 100%;
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, .3);
}

.logo-icon {
  margin: 0px;
}

.body-5 {
  background-color: #efefef;
}

.caret-hover {
  position: absolute;
  width: 20px;
  height: 1px;
  background-color: #454545;
}

.caret-hover.left {
  position: relative;
  display: none;
  width: 20px;
  height: 20px;
  margin-top: -6px;
  border-right: 1px solid #3f84cd;
  border-bottom: 1px solid #3f84cd;
  background-color: transparent;
  opacity: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.caret-hover.left:hover {
  border-right-color: #3f84cd;
  border-bottom-color: #3f84cd;
}

.change-paragraph_allready-acc {
  display: none;
  opacity: 0;
}

.heading-allready-acc {
  display: none;
  opacity: 0;
  font-weight: 300;
}

.heading-no-acc {
  font-weight: 300;
}

.auth_form-container-register {
  position: absolute;
  top: -50px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 535px;
  height: 500px;
  margin-top: 0px;
  margin-right: 50px;
  margin-left: 50px;
  padding: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, .3);
}

.utility-header {
  position: relative;
  height: 400px;
  background-color: #295481;
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, .3);
}

._404 {
  display: block;
}

.brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-16 {
  margin: 10px;
}

.navbar-2 {
  position: fixed;
  display: block;
  width: 100%;
  height: 70px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .3);
}

.nav-menu {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-3 {
  height: auto;
  padding-top: 70px;
}

.section-3.profile-section {
  min-height: 100vh;
}

.body-6 {
  min-height: 100vh;
  background-color: #efefef;
}

.h1-container {
  display: block;
  margin-top: 30px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  color: #000;
}

.heading-21 {
  display: inline-block;
  margin-top: 10px;
  color: #000;
}

.initiative-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .3);
}

.initiative-content {
  width: 50%;
  padding: 10px 30px 15px;
}

.initiative-image {
  width: 50%;
  background-image: -webkit-radial-gradient(circle farthest-corner at 50% 50%, #3f84cd, #205996);
  background-image: radial-gradient(circle farthest-corner at 50% 50%, #3f84cd, #205996);
}

.initiativen-tags {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.og {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #3f84cd;
  border-radius: 15px;
  background-color: #fff;
  color: #3f84cd;
  padding: 5px;
  margin-top: 15px;
}

.handlungsfeld {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 30px;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #3f84cd;
  border-radius: 15px;
  background-color: transparent;
  color: #3f84cd;
  cursor: pointer;
}

.text-block-4 {
  text-transform: none;
}

.navbar-3 {
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .3);
}

.navbar-loggedin {
  position: fixed;
  display: block;
  width: 100%;
  height: 70px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .3);
}

.navbar-loggedin_container {
  position: fixed;
  display: block;
  width: 100%;
}

.brand-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  text-decoration: none !important;
  position: absolute;
  height: 50px;
  width: 80%;
  margin: 10px;
  background-image: url('/assets/images/logo/mdi-logo-claim-50h@2x.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.footer-section{
  .brand-2{
    width: 270px;
  }
}
.mdz-logo-icon {
  margin: 10px;
}

.navbar-loggedin_menu {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  float: right;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.profile {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-left: 10px;
  border: 1px solid #000;
  border-radius: 100%;
  background-image: url('../assets/images/girl_1.svg');
  background-position: 0px 0px;
  background-size: contain;
}

.profile.w--current {
  border-width: 3px;
  border-color: #3f84cd;
}

.nav-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: rgba(0, 0, 0, .5);
  letter-spacing: 1px;
  text-transform: none;
  cursor: pointer;
}

.nav-link:hover {
  color: #3f84cd;
  font-weight: 400;
}

.nav-link.w--current {
  padding-top: 25px;
  border-bottom: 5px solid #3f84cd;
  color: #3f84cd;
  letter-spacing: 1px;
}

.heading-22 {
  color: #000;
}

.profile-main-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .3);
}

.profile-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #efefef;
  color: #bbb;
}

.profile-wrapper.kpis {
  padding: 50px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-color: #fff;
}

.profile-picture-wrapper {
  padding: 50px;
}

.div-block-3 {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-image: url('../assets/images/girl_1.svg');
  background-position: 0px 0px;
  background-size: cover;
}

.profile-info-wrapper {
  width: auto;
  padding: 50px;
  color: #000;
}

.profile-name {
  font-size: 52px;
  line-height: 78px;
}

.kpi-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.kpi-number {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70px;
  height: 70px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100%;
  background-color: #3f84cd;
}

.kpi-text {
  color: #000;
  text-transform: uppercase;
}

.kpi-number-text {
  margin-top: 10px;
  color: #fff;
}

.heading-23 {
  color: #000;
}

.paragraph-10 {
  color: #000;
}

.initiative-header-content {
  width: 50%;
  padding: 20px 30px;
}

.initiative-map {
  width: 50%;
  background-image: url('../assets/images/Bildschirmfoto-2017-07-13-um-09.37.50.png');
  background-position: 50% 50%;
  background-size: 475px;
}

.section-initiative-header {
  height: 500px;
  padding-top: 0px;
  background-image: url('../assets/images/aspisheim-farbenfroh-slider.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.section-initiative-header.profile-section {
  min-height: 100vh;
}

.section-3-copy {
  height: 500px;
  padding-top: 70px;
}

.section-3-copy.profile-section {
  min-height: 100vh;
}

.section-initiative-content-header {
  margin-top: -100px;
  margin-bottom: 100px;
  padding-top: 0px;
}

.section-initiative-content-header.profile-section {
  min-height: 100vh;
}

.initiative-header-overlay-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .3);
}

.initiative-fotogallery-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  margin-top: 15px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.div-block-4 {
  width: auto;
}

.image-intitative-thomb {
  width: 100%;
  height: 100%;
}

.image-intitative-thomb._1 {
  background-image: url('../assets/images/mdz-bg.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.image-intitative-thomb._2 {
  margin-right: 15px;
  margin-left: 15px;
  background-image: url('../assets/images/aspisheim-farbenfroh-slider.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.image-intitative-thomb._3 {
  background-image: url('../assets/images/DSC_0934skaliert.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.initiative-bottom-content-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin-top: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: transparent;
}

.comments-container {
  width: 66.666666%;
  margin-right: 15px;
}

.config-container {
  width: 33.33333333%;
  margin-left: 15px;
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .3);
}

.comment-container {
  overflow: hidden;
  margin-bottom: 30px;
  background-color: transparent;
}

.comment-header {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 95px;
  padding: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  border-bottom: 5px solid #3f84cd;
  background-color: #fff;
}

.footer {
  padding: 20px;
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .3);
  -webkit-transform: translate(0px, -100%);
  -ms-transform: translate(0px, -100%);
  transform: translate(0px, -100%);
}

.profile-icon-comment {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border: 1px solid #000;
  border-radius: 100%;
  background-image: url('../assets/images/girl_1.svg'), -webkit-linear-gradient(270deg, #bbb, #bbb);
  background-image: url('../assets/images/girl_1.svg'), linear-gradient(180deg, #bbb, #bbb);
  background-position: 0px 0px, 0px 0px;
  background-size: cover, auto;
}

.comment-profile-infos {
  height: 50px;
}

.heading-24 {
  margin-top: 3px;
  margin-bottom: 0px;
  color: #000;
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: none;
}

.heading-25 {
  margin-top: 6px;
  margin-bottom: 6px;
  color: #000;
}

.tab-link {
  width: 100%;
  padding-top: 14px;
  border-bottom: 1px solid #3f84cd;
  background-color: #fff;
  text-align: center;
}

.tab-link.w--current {
  border-bottom: 5px solid #3f84cd;
  background-color: #fff;
  color: #000;
}

.text-block-5 {
  font-size: 16px;
  letter-spacing: 1px;
}

.text-block-6 {
  letter-spacing: 1px;
}

.supporter-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin: 20px;
  padding: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.supporter-profile-picture {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border: 1px solid #000;
  border-radius: 100%;
  background-image: url('../assets/images/girl-10.svg'), -webkit-linear-gradient(270deg, #efefef, #efefef);
  background-image: url('../assets/images/girl-10.svg'), linear-gradient(180deg, #efefef, #efefef);
  background-position: 50% 50%, 0px 0px;
  background-size: cover, auto;
}

.supporter-profile-picture._1 {
  border: 1px solid #000;
  border-radius: 100%;
  background-image: url('../assets/images/girl.svg'), -webkit-linear-gradient(270deg, #efefef, #efefef);
  background-image: url('../assets/images/girl.svg'), linear-gradient(180deg, #efefef, #efefef);
  background-position: 50% 50%, 0px 0px;
  background-size: cover, auto;
}

.supporter-profile-picture._2 {
  background-image: url('../assets/images/boy-15.svg'), -webkit-linear-gradient(270deg, #efefef, #efefef);
  background-image: url('../assets/images/boy-15.svg'), linear-gradient(180deg, #efefef, #efefef);
  background-position: 50% 50%, 0px 0px;
  background-size: cover, auto;
}

.supporter-profile-picture._3 {
  background-image: url('../assets/images/boy-17.svg'), -webkit-linear-gradient(270deg, #efefef, #efefef);
  background-image: url('../assets/images/boy-17.svg'), linear-gradient(180deg, #efefef, #efefef);
  background-position: 50% 50%, 0px 0px;
  background-size: cover, auto;
}

.supporter-profile-picture._4 {
  background-image: url('../assets/images/girl-8.svg'), -webkit-linear-gradient(270deg, #efefef, #efefef);
  background-image: url('../assets/images/girl-8.svg'), linear-gradient(180deg, #efefef, #efefef);
  background-position: 50% 50%, 0px 0px;
  background-size: cover, auto;
}

.supporter-profile-picture._5 {
  background-image: url('../assets/images/boy-6.svg'), -webkit-linear-gradient(270deg, #efefef, #efefef);
  background-image: url('../assets/images/boy-6.svg'), linear-gradient(180deg, #efefef, #efefef);
  background-position: 50% 50%, 0px 0px;
  background-size: cover, auto;
}

.supporter-profile-picture._6 {
  background-image: url('../assets/images/girl-24.svg'), -webkit-linear-gradient(270deg, #efefef, #efefef);
  background-image: url('../assets/images/girl-24.svg'), linear-gradient(180deg, #efefef, #efefef);
  background-position: 50% 50%, 0px 0px;
  background-size: cover, auto;
}

.heading-26 {
  color: #000;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: none;
}

.wappen_wrapper {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.wappen_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.wappen_icon {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #454545;
  border-radius: 100%;
  background-image: url('../assets/images/example-bg.png');
  background-position: 50% 50%;
  background-size: 30px;
  background-repeat: no-repeat;
}

.wappen_tooltip {
  position: absolute;
  top: -50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 35px;
  padding: 3px 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, .3);
  opacity: 0;
  -webkit-transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.wappen_caret {
  position: absolute;
  bottom: -7.5px;
  width: 15px;
  height: 15px;
  background-color: #fff;
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, .3);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.wappen_tooltip-container {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 35px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.text-block-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #3f84cd;
}

.handlungsfeld_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.handlungsfeld_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 25px;
}

.handlungsfeld_text {
  color: #fff;
  text-align: center;
}

.dropdown {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  margin-right: 0px;
  margin-left: 30px;
  float: right;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, .3);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.dropdown-toggle {
  position: relative;
  z-index: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: none;
  border-bottom-width: 2px;
  border-bottom-color: #3f84cd;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.dropdown-list {
  top: 0px;
  z-index: 0;
  display: none;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, .3);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
}

.text-block-8 {
  font-size: 16px;
  text-align: center;
  letter-spacing: 0px;
}

.collection-list-wrapper-2 {
  margin-top: 40px;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 64px;
  float: right;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-9 {
  font-size: 64px;
}

.text-block-10 {
  font-size: 64px;
}

.text-block-11 {
  font-size: 64px;
}

.text-block-12 {
  font-size: 64px;
}

@media (max-width: 991px) {
  h6 {
    letter-spacing: 1px;
  }
  .button.warning.lschen {
    margin-left: 0px;
  }
  .image {
    left: 0px;
  }
  .heading-3 {
    color: rgba(0, 0, 0, .5);
    font-weight: 700;
    letter-spacing: 4px;
  }
  .footer_subtitle {
    color: hsla(0, 0%, 100%, .5);
    font-weight: 400;
    letter-spacing: 4px;
  }
  ._404_text {
    margin-top: 10px;
    text-align: left;
  }
  .navbar {
    position: fixed;
    z-index: 2;
    display: block;
  }
  .navbar_container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    color: #3f84cd;
  }
  .navbar_logo {
    position: fixed;
    z-index: 1;
  }
  .navbar_logo.w--current {
    position: fixed;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar_menu {
    position: absolute;
    top: 0px;
    z-index: 0;
    height: 100vh;
    padding-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    background-color: #3f84cd;
    box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, .3);
  }
  .navbar_item {
    text-align: left;
  }
  .navbar_item.w--current {
    height: auto;
    color: #000;
  }
  .image-12 {
    padding: 1px;
    border-radius: 100%;
  }
  .heading-16 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .menu-button {
    position: absolute;
    top: 0px;
    right: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 18px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .menu-button.w--open {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #3f84cd;
  }
  .menu-button-line {
    position: absolute;
    width: 20px;
    height: 2px;
    border-radius: 5px;
    background-color: #000;
    color: #3f84cd;
  }
  .menu-button-wrapper {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 30px;
    height: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }
  .menu-button-line-top {
    position: absolute;
    top: 8px;
    width: 20px;
    height: 2px;
    border-radius: 5px;
    background-color: #000;
  }
  .menu-button-line-bottom {
    position: absolute;
    bottom: 8px;
    width: 20px;
    height: 2px;
    border-radius: 5px;
    background-color: #000;
  }
  .hero-container {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .container_1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .container_1.explanation {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .content-wrapper_50 {
    width: 100%;
  }
  .content-wrapper_50.text {
    width: 100%;
  }
  .video_thumbnail {
    height: 100%;
  }
  .featured-initiative_section {
    position: relative;
    z-index: 1;
    height: auto;
  }
  .featured-initiative_header {
    height: 100px;
  }
  .featured-initiative_body {
    height: auto;
  }
  .collection-list-wrapper {
    height: auto;
  }
  .collection-list-2 {
    height: auto;
  }
  .collection-item {
    height: 400px;
  }
  .featured-inititative_paragraph {
    width: 200px;
  }
  .collection-item_overlay {
    height: 400px;
    padding-right: 30px;
    padding-left: 30px;
  }
  .initiative-heading {
    font-size: 26px;
    line-height: 35.1px;
  }
  .footer-section {
    margin-top: 60px;
  }
  .navbar-footer {
    position: fixed;
    z-index: 1000;
  }
  .navbar-footer.w--current {
    position: static;
    z-index: 10;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .content-video {
    width: 100%;
    height: 281px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .auth-content-container {
    width: 760px;
  }
  .auth-content-container.utility {
    padding-right: 10px;
    padding-left: 10px;
  }
  .auth_form-container {
    width: 380px;
    margin-right: 20px;
    padding: 30px;
  }
  .heading-18 {
    line-height: 46px;
  }
  .background-content-wrapper {
    position: absolute;
    width: 340px;
    height: 400px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 30px 20px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .no-account-yet {
    display: block;
    width: 280px;
  }
  .allready-an-account {
    display: block;
    width: 280px;
    opacity: 1;
  }
  .mdz-home-icon {
    padding: 1px;
    border-radius: 100%;
  }
  .change-paragraph_allready-acc {
    display: none;
    opacity: 0;
  }
  .heading-allready-acc {
    display: none;
    opacity: 0;
  }
  .auth_form-container-register {
    width: 380px;
    margin-right: 20px;
    padding: 30px;
  }
  .initiative-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .initiative-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .initiative-image {
    width: 100%;
    height: 250px;
  }
  .initiativen-tags {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar-loggedin {
    position: fixed;
    width: 100%;
  }
  .navbar-loggedin_container {
    position: relative;
    height: 70px;
    border-bottom: 1px none #3f84cd;
  }
  .navbar-loggedin_menu {
    width: 100%;
  }
  .nav-link {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #fff;
    text-align: center;
  }
  .nav-link.w--current {
    padding-top: 20px;
    border-bottom: 1px none #000;
    background-color: #3f84cd;
    color: #000;
  }
  .nav-link.last {
    border-bottom: 5px solid #3f84cd;
  }
  .menu-button-2 {
    display: block;
    width: 70px;
    height: 70px;
    padding: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .menu-button-2.w--open {
    background-color: #3f84cd;
  }
  .div-block-2 {
    width: 30px;
    height: 30px;
  }
  .heading-22 {
    color: #000;
  }
  .profile-main-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .profile-picture-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .initiative-header-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .initiative-map {
    width: 100%;
    height: 250px;
  }
  .section-initiative-header {
    background-size: cover;
  }
  .initiative-header-overlay-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .initiative-fotogallery-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .initiative-bottom-content-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .comments-container {
    width: 100%;
  }
  .config-container {
    width: 100%;
    margin-left: 0px;
  }
}

@media (max-width: 767px) {
  ul {
    padding-left: 40px;
  }
  .body {
    padding-right: 10px;
    padding-left: 10px;
  }
  .button.primary.right {
    margin-top: 15px;
    float: left;
  }
  .button.primary.anmelden {
    margin-top: 0px;
    margin-bottom: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .button.primary.registrieren {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .button.forgot-pw {
    display: inline-block;
    margin-top: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
  }
  .button.bg-swap {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
  }
  .schriftstil_extralight {
    margin-bottom: 10px;
  }
  .column {
    padding-right: 0px;
    padding-left: 0px;
  }
  .text-block {
    font-size: 24px;
    font-weight: 300;
  }
  .section-2 {
    margin-right: -10px;
    margin-left: -10px;
  }
  .heading-2 {
    height: 80px;
    margin-top: -20px;
    font-size: 60px;
    text-align: left;
  }
  .container-2 {
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .section-footer {
    margin-right: -10px;
    margin-left: -10px;
  }
  .bottom_description {
    width: 500px;
  }
  .fvo__logo {
    left: 15px;
    top: 15px;
    z-index: 25;
  }
  .utility-page-form {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  ._404_text {
    font-size: 22px;
    line-height: 33px;
  }
  .image-11 {
    width: 200px;
    margin-right: 50px;
    margin-bottom: 0px;
  }
  .password_icon {
    max-width: 100px;
  }
  .navbar {
    display: block;
    margin-left: -10px;
  }
  .navbar_container {
    display: block;
  }
  .heading-16.footer {
    display: none;
  }
  .heading-16.footer-logo {
    display: none;
  }
  .hero-section {
    margin-right: -10px;
    margin-left: -10px;
  }
  .hero-container {
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .hero_content-wrapper {
    padding-right: 10px;
    padding-left: 10px;
  }
  .hero_heading {
    font-size: 26px;
    line-height: 39px;
  }
  .hero_subtitle {
    font-size: 18px;
    line-height: 27px;
  }
  .explanation-section {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .container_1 {
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .container_1.explanation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .content-wrapper_50.text {
    height: auto;
  }
  .video_thumbnail {
    height: auto;
  }
  .participate-section {
    padding-right: 10px;
    padding-left: 10px;
  }
  .process-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .process-step-wrapper {
    margin-bottom: 30px;
  }
  .featured-initiative_section {
    height: auto;
    margin-right: -10px;
    margin-left: -10px;
  }
  .featured-initiative_body {
    overflow: hidden;
    height: auto;
  }
  .collection-list-wrapper {
    height: auto;
  }
  .collection-list-2 {
    height: auto;
  }
  .collection-item {
    max-height: 400px;
    min-height: 250px;
  }
  .featured-inititative_paragraph {
    width: 300px;
  }
  .collection-item_overlay {
    height: 100%;
  }
  .quote-section {
    padding-right: 10px;
    padding-left: 10px;
  }
  .participate-section_smal {
    padding-right: 10px;
    padding-left: 10px;
  }
  .content-video {
    height: auto;
  }
  .block-quote {
    font-size: 16px;
    line-height: 24px;
  }
  .auth-content-container {
    overflow: hidden;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .auth-content-container._404-container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .auth-background-container {
    position: relative;
    width: 200px;
    height: 350px;
  }
  .auth-background-container.utility {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    height: auto;
    max-width: 420px;
    padding: 0px 15px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .auth-background-container._404 {
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .auth_form-container {
    position: relative;
    top: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 280px;
    height: auto;
    margin-right: 0px;
    margin-left: 0px;
    padding: 15px 20px;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .auth_form-container.utility {
    right: 0px;
    width: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .auth_form-container._404 {
    padding-bottom: 30px;
  }
  .heading-18 {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 37.5px;
    text-align: center;
  }
  .heading-18.registrieren {
    margin-top: 5px;
    margin-bottom: 16px;
    font-size: 22px;
    font-weight: 500;
  }
  .heading-18._404 {
    margin-bottom: 10px;
  }
  .text-field-2 {
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    text-align: center;
  }
  .background-content-wrapper {
    width: 176px;
  }
  .no-account-yet {
    width: 150px;
  }
  .anmelden {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .registrieren {
    display: block;
    opacity: 1;
  }
  .heading-19 {
    margin-top: 0px;
    font-size: 22px;
    line-height: 29px;
  }
  .div-block {
    width: 150px;
    height: 150px;
  }
  .passwort-icon-wrapper {
    width: 30%;
    height: auto;
    max-width: 30%;
    margin-right: 10px;
    margin-left: 10px;
  }
  .mdz-home-icon {
    padding: 0px;
  }
  .logo-icon {
    width: 50px;
    height: 50px;
  }
  .form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .body-5 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .change-paragraph_allready-acc {
    line-height: 24px;
  }
  .change-paragraph_no-acc {
    line-height: 24px;
  }
  .heading-allready-acc {
    display: none;
    margin-top: 0px;
    font-size: 22px;
    line-height: 29px;
  }
  .heading-no-acc {
    margin-top: 0px;
    font-size: 22px;
    line-height: 29px;
  }
  .form-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .auth_form-container-register {
    position: relative;
    top: 0px;
    display: none;
    width: 280px;
    height: auto;
    margin-right: 0px;
    margin-left: 0px;
    padding: 15px 20px;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    opacity: 0;
  }
  .utility-header {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 200px;
    height: 350px;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .form-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  ._404 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: left;
  }
  .heading-20 {
    display: none;
  }
  .impressum-section {
    margin-right: 0px;
    margin-left: 0px;
  }
  .section-3 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .profile-picture-wrapper {
    padding-right: 20px;
    padding-left: 20px;
  }
  .profile-info-wrapper {
    padding-right: 20px;
    padding-left: 20px;
  }
  .profile-name {
    font-size: 32px;
    line-height: 48px;
  }
  .section-initiative-header {
    padding-right: 10px;
    padding-left: 10px;
  }
  .section-3-copy {
    padding-right: 10px;
    padding-left: 10px;
  }
  .section-initiative-content-header {
    padding-right: 10px;
    padding-left: 10px;
  }
  .wappen_icon {
    width: 40px;
    height: 40px;
    background-size: 25px;
  }
}

@media (max-width: 479px) {
  ul {
    padding-left: 30px;
  }
  .body {
    padding-right: 5px;
    padding-left: 5px;
  }
  .container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .container.forms {
    padding-right: 10px;
    padding-left: 10px;
  }
  .description {
    width: 60%;
  }
  .container-transparent {
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  .color-swatch.color14 {
    background-color: #454545;
  }
  .color-swatch.color17 {
    background-color: #bbb;
  }
  .color-swatch.color15 {
    background-color: #777;
  }
  .color-swatch.color16 {
    background-color: #888;
  }
  .button.primary.anmelden {
    width: auto;
  }
  .button.bg-swap {
    text-align: center;
  }
  .schriftstil_extralight {
    font-size: 26px;
  }
  .section-2 {
    margin-right: -5px;
    margin-left: -5px;
  }
  .heading-2 {
    height: 100px;
    margin-top: 0px;
    font-size: 54px;
    text-align: center;
  }
  .paragraph-5 {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
  .image {
    left: 15px;
    top: -140px;
    width: 150px;
  }
  .container-2 {
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .heading-3 {
    margin-bottom: -19px;
    text-align: center;
  }
  .image-2 {
    width: 80%;
  }
  .heading-4 {
    margin-top: 0px;
  }
  .section-footer {
    margin-right: -5px;
    margin-left: -5px;
  }
  .bottom_description {
    width: 90%;
  }
  .fvo__logo {
    left: 10px;
    top: 10px;
  }
  .utility-page-content {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .utility-page-form {
    margin-right: 10px;
    margin-left: 10px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  ._404_text {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
  }
  .image-11 {
    display: block;
    width: 175px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
  }
  .navbar {
    display: block;
  }
  .heading-16 {
    display: none;
    font-size: 16px;
    letter-spacing: 0px;
  }
  .hero-section {
    margin-right: -10px;
    margin-left: -10px;
  }
  .hero-container {
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .hero_heading {
    font-size: 22px;
    line-height: 33px;
  }
  .container_1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .container_1.vertical {
    text-align: center;
  }
  .container_1.participate-now {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  .content-wrapper_50.text {
    padding: 5px 15px 15px;
  }
  .featured-inititative_paragraph {
    width: 190px;
  }
  .footer-section {
    height: auto;
  }
  .footer-links {
    height: auto;
    margin-right: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .footer-link {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .quote-container {
    padding-right: 10px;
    padding-bottom: 30px;
    padding-left: 10px;
  }
  .heading-17 {
    text-align: center;
  }
  .image-13 {
    width: 50%;
    margin-left: -8px;
  }
  .auth-content-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .auth-content-container.utility {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .auth-content-container._404-container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .auth-background-container {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .auth-background-container.utility {
    position: relative;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .auth-background-container._404 {
    position: relative;
    max-width: 230px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .auth_form-container {
    position: relative;
    width: 230px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .auth_form-container.utility {
    max-width: 220px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .heading-18._404 {
    margin-bottom: 14px;
  }
  .heading-18.utility {
    font-size: 22px;
    line-height: 33px;
  }
  .no-account-yet {
    margin-right: 15px;
    margin-left: 15px;
  }
  .anmelden {
    width: auto;
  }
  .registrieren {
    display: block;
    opacity: 1;
  }
  .passwort-icon-wrapper {
    margin-right: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .auth_form-container-register {
    position: relative;
    display: none;
    width: 230px;
    height: 450px;
    margin-right: 0px;
    margin-left: 0px;
    opacity: 0;
  }
  .utility-header {
    position: relative;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-height: 320px;
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .form-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  ._404 {
    width: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .heading-20 {
    display: none;
  }
  .initiative-content {
    padding-right: 22px;
    padding-left: 22px;
  }
  .initiativen-tags {
    overflow: hidden;
  }
  .handlungsfeld {
    margin-right: 10px;
  }
  .heading-22 {
    display: none;
  }
  .profile-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .profile-info-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0px;
    padding-bottom: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .profile-name {
    text-align: center;
  }
  .kpi-container {
    margin-bottom: 15px;
  }
  .initiative-header-content {
    padding: 10px;
  }
  .initiative-fotogallery-container {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .image-intitative-thomb._1 {
    height: 150px;
  }
  .image-intitative-thomb._2 {
    height: 150px;
  }
  .image-intitative-thomb._3 {
    height: 150px;
  }
  .comment-header {
    height: 75px;
    padding: 10px;
  }
  .footer {
    padding: 10px;
  }
  .heading-24 {
    font-size: 18px;
  }
  .heading-25 {
    font-size: 12px;
    letter-spacing: 0px;
  }
  .tab-link {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 14px;
    letter-spacing: 1px;
  }
  .text-block-5 {
    font-size: 14px;
  }
  .supporter-container {
    margin: 10px 10px 15px;
  }
  .heading-26 {
    font-size: 16px;
  }
}

.toast-top-full-width {
  top: 20px;
}

#toast-container.toast-top-full-width > div {
  margin-bottom: 10px;
}

.cms-content {
  li {
    margin-bottom: 1em;
    font-weight: normal;
  }
  p {
    font-size: 1.5em;
  }
}

button[disabled] {
  background-color: grey !important;
  &:hover {
    transform: none;
  }
}

.toast-message {
  font-size: 18px;
  font-weight: lighter;
}

.owl-dateTime{
  width: auto;
}