<div class="loader" *ngIf="loading && !small">
  <h1 class="saving">{{message}}<span>.</span><span>.</span><span>.</span></h1>
</div>

<div class="loader relative" *ngIf="loading && small">
  <h1 class="saving">{{message}}<span>.</span><span>.</span><span>.</span></h1>
</div>